<div class="card-body" style="padding-top: 0px;">
    <div class="border-bottom text-center">
        <strong>{{detalle.tipoParteMotor.nombreTipoParteMotor}}</strong>
    </div>
    <br>
    <div *ngFor="let elemento of listado" class="container">
        <jhi-repuesto-precio #repuestoComponents (eventoCambioValor)="cambioTotalRepuestos()"
            [repuesto]="elemento.repuesto" [cobranzaUltimoRepuesto]="elemento.cobranzaUltimoRepuesto" [listaCobranzas]="elemento.cobranzas"
            class="row align-items-center top-buffer">
        </jhi-repuesto-precio>
    </div>
</div>
