<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lista-precio-rectificacion-cram-heading">Create or edit a Lista Precio Rectificacion CRAM</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!listaPrecioRectificacionCRAM.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="listaPrecioRectificacionCRAM.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVigenciaDesde">Fecha Vigencia Desde</label>
                    <div class="input-group">
                        <input id="field_fechaVigenciaDesde" type="text" class="form-control" name="fechaVigenciaDesde" ngbDatepicker  #fechaVigenciaDesdeDp="ngbDatepicker" [(ngModel)]="listaPrecioRectificacionCRAM.fechaVigenciaDesde"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaVigenciaDesdeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.fechaVigenciaDesde?.dirty && editForm.controls.fechaVigenciaDesde?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fechaVigenciaDesde?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaVigenciaHasta">Fecha Vigencia Hasta</label>
                    <div class="input-group">
                        <input id="field_fechaVigenciaHasta" type="text" class="form-control" name="fechaVigenciaHasta" ngbDatepicker  #fechaVigenciaHastaDp="ngbDatepicker" [(ngModel)]="listaPrecioRectificacionCRAM.fechaVigenciaHasta"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaVigenciaHastaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroGrupo">Numero Grupo</label>
                    <input type="number" class="form-control" name="numeroGrupo" id="field_numeroGrupo"
                        [(ngModel)]="listaPrecioRectificacionCRAM.numeroGrupo" required min="1" jhiMin="1" max="25" jhiMax="25"/>
                    <div [hidden]="!(editForm.controls.numeroGrupo?.dirty && editForm.controls.numeroGrupo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroGrupo?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numeroGrupo?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numeroGrupo?.errors?.max">
                            This field cannot be more than 25.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numeroGrupo?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_costoOperacion">Costo Operacion</label>
                    <select class="form-control" id="field_costoOperacion" name="costoOperacion" [(ngModel)]="listaPrecioRectificacionCRAM.costoOperacion"  required>
                        <option *ngIf="!editForm.value.costoOperacion" [ngValue]="null" selected></option>
                        <option [ngValue]="costoOperacionOption.id === listaPrecioRectificacionCRAM.costoOperacion?.id ? listaPrecioRectificacionCRAM.costoOperacion : costoOperacionOption" *ngFor="let costoOperacionOption of costooperacions; trackBy: trackCostoOperacionById">{{costoOperacionOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.costoOperacion?.dirty && editForm.controls.costoOperacion?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.costoOperacion?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
