<div>
    <h2>
        <span>Presupuestos</span>
        <button class="btn btn-primary float-right jh-create-entity create-presupuesto" [routerLink]="['/', { outlets: { popup: ['presupuesto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="presupuestos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcionDescuento"><span>Descripcion Descuento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descuento"><span>Descuento</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaCreacion"><span>Fecha Creacion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaAceptado"><span>Fecha Aceptado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaEntregado"><span>Fecha Entregado</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="importeTotal"><span>Importe Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="observaciones"><span>Observaciones</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cliente.apellido"><span>Cliente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoPresupuesto.nombreEstado"><span>Estado Presupuesto</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let presupuesto of presupuestos ;trackBy: trackId">
                <td><a [routerLink]="['../presupuesto', presupuesto.id ]">{{presupuesto.id}}</a></td>
                <td>{{presupuesto.descripcionDescuento}}</td>
                <td>{{presupuesto.descuento}}</td>
                <td>{{presupuesto.fechaCreacion | date:'mediumDate'}}</td>
                <td>{{presupuesto.fechaAceptado | date:'mediumDate'}}</td>
                <td>{{presupuesto.fechaEntregado | date:'mediumDate'}}</td>
                <td>{{presupuesto.importeTotal}}</td>
                <td>{{presupuesto.observaciones}}</td>
                <td>
                    <div *ngIf="presupuesto.cliente">
                        <a [routerLink]="['../cliente', presupuesto.cliente?.id ]" >{{presupuesto.cliente?.apellido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="presupuesto.estadoPresupuesto">
                        <a [routerLink]="['../estado-presupuesto', presupuesto.estadoPresupuesto?.id ]" >{{presupuesto.estadoPresupuesto?.nombreEstado}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../presupuesto', presupuesto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presupuesto/'+ presupuesto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presupuesto/'+ presupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="presupuestos && presupuestos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
