<div>
    <h2 id="page-heading">
        <span>Presupuestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-presupuesto" [routerLink]="['/presupuesto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="presupuestos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcionDescuento"><span>Descripcion Descuento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descuento"><span>Descuento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCreacion"><span>Fecha Creacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaAceptado"><span>Fecha Aceptado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaEntregado"><span>Fecha Entregado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="importeTotal"><span>Importe Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observaciones"><span>Observaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.apellido"><span>Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estadoPresupuesto.nombreEstado"><span>Estado Presupuesto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentType.documentName"><span>Document Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let presupuesto of presupuestos ;trackBy: trackId">
                <td><a [routerLink]="['/presupuesto', presupuesto.id, 'view' ]">{{presupuesto.id}}</a></td>
                <td>{{presupuesto.descripcionDescuento}}</td>
                <td>{{presupuesto.descuento}}</td>
                <td>{{presupuesto.fechaCreacion | date:'mediumDate'}}</td>
                <td>{{presupuesto.fechaAceptado | date:'mediumDate'}}</td>
                <td>{{presupuesto.fechaEntregado | date:'mediumDate'}}</td>
                <td>{{presupuesto.importeTotal}}</td>
                <td>{{presupuesto.observaciones}}</td>
                <td>
                    <div *ngIf="presupuesto.cliente">
                        <a [routerLink]="['../cliente', presupuesto.cliente?.id, 'view' ]" >{{presupuesto.cliente?.apellido}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="presupuesto.estadoPresupuesto">
                        <a [routerLink]="['../estado-presupuesto', presupuesto.estadoPresupuesto?.id, 'view' ]" >{{presupuesto.estadoPresupuesto?.nombreEstado}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="presupuesto.documentType">
                        <a [routerLink]="['../documentation-type', presupuesto.documentType?.id, 'view' ]" >{{presupuesto.documentType?.documentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/presupuesto', presupuesto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/presupuesto', presupuesto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'presupuesto/'+ presupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="presupuestos && presupuestos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
