<div class="card">
    <div class="card-header">
        <span>Presupuesto Nº: {{pedido.presupuesto.id}}</span>
        <span>Fecha: {{pedido.presupuesto.fechaCreacion}}</span>
        <span>{{pedido.presupuesto.cliente.apellido}},{{pedido.presupuesto.cliente.persona.nombre}}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">Motor: {{pedido.presupuesto.detallePresupuestos[0]?.motor.marcaMotor}}</h5>
        <div *ngFor="let detallePedido of pedido.detallePedidos">
            <jhi-detalle-pedido [detallePedido]="detallePedido" [proveedores]="proveedores"></jhi-detalle-pedido>
        </div>
        <a class="btn btn-primary">Guardar</a>
    </div>
</div>
