<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aplicacion-heading" data-cy="AplicacionCreateUpdateHeading">Create or edit a Aplicacion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nombreAplicacion">Nombre Aplicacion</label>
          <input
            type="text"
            class="form-control"
            name="nombreAplicacion"
            id="field_nombreAplicacion"
            data-cy="nombreAplicacion"
            formControlName="nombreAplicacion"
          />
          <div
            *ngIf="
              editForm.get('nombreAplicacion')!.invalid &&
              (editForm.get('nombreAplicacion')!.dirty || editForm.get('nombreAplicacion')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('nombreAplicacion')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numeroGrupo">Numero Grupo</label>
          <input
            type="number"
            class="form-control"
            name="numeroGrupo"
            id="field_numeroGrupo"
            data-cy="numeroGrupo"
            formControlName="numeroGrupo"
          />
          <div *ngIf="editForm.get('numeroGrupo')!.invalid && (editForm.get('numeroGrupo')!.dirty || editForm.get('numeroGrupo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numeroGrupo')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroGrupo')?.errors?.min"> This field should be at least 1. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numeroGrupo')?.errors?.max">
              This field cannot be more than 100.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numeroGrupo')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_motor">Motor</label>
          <select class="form-control" id="field_motor" data-cy="motor" name="motor" formControlName="motor">
            <option *ngIf="!editForm.get('motor')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="motorOption.id === editForm.get('motor')!.value?.id ? editForm.get('motor')!.value : motorOption"
              *ngFor="let motorOption of motorsSharedCollection; trackBy: trackMotorById"
            >
              {{ motorOption.marcaMotor }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['motor'])!.invalid && (editForm.get(['motor'])!.dirty || editForm.get(['motor'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['motor'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
