<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="categoriaPago">
      <h2 data-cy="categoriaPagoDetailsHeading"><span>Categoria Pago</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ categoriaPago.id }}</span>
        </dd>
        <dt><span>Nombre Categoria Pago</span></dt>
        <dd>
          <span>{{ categoriaPago.nombreCategoriaPago }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/categoria-pago', categoriaPago.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
