<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="detallMovimiento">
      <h2 data-cy="detallMovimientoDetailsHeading"><span>Detall Movimiento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ detallMovimiento.id }}</span>
        </dd>
        <dt><span>Medida</span></dt>
        <dd>
          <div *ngIf="detallMovimiento.medida">
            <a [routerLink]="['/medida-articulo', detallMovimiento.medida?.id, 'view']">{{ detallMovimiento.medida?.medida }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/detall-movimiento', detallMovimiento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
