<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="direccion">
      <h2 data-cy="direccionDetailsHeading"><span>Direccion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ direccion.id }}</span>
        </dd>
        <dt><span>Calle</span></dt>
        <dd>
          <span>{{ direccion.calle }}</span>
        </dd>
        <dt><span>Numero</span></dt>
        <dd>
          <span>{{ direccion.numero }}</span>
        </dd>
        <dt><span>Localidad</span></dt>
        <dd>
          <div *ngIf="direccion.localidad">
            <a [routerLink]="['/localidad', direccion.localidad?.id, 'view']">{{ direccion.localidad?.nombreLocalidad }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/direccion', direccion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
