<div>
    <h2 id="page-heading">
        <span>Detalle Presupuestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detalle-presupuesto" [routerLink]="['/detalle-presupuesto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Detalle Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="detallePresupuestos?.length === 0">
        <span>No detallePresupuestos found</span>
    </div>
    <div class="table-responsive" *ngIf="detallePresupuestos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Importe</span></th>
            <th><span>Aplicacion</span></th>
            <th><span>Cilindrada</span></th>
            <th><span>Motor</span></th>
            <th><span>Tipo Parte Motor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detallePresupuesto of detallePresupuestos ;trackBy: trackId">
                <td><a [routerLink]="['/detalle-presupuesto', detallePresupuesto.id, 'view' ]">{{detallePresupuesto.id}}</a></td>
                <td>{{detallePresupuesto.importe}}</td>
                <td>
                    <div *ngIf="detallePresupuesto.aplicacion">
                        <a [routerLink]="['/aplicacion', detallePresupuesto.aplicacion?.id, 'view' ]" >{{detallePresupuesto.aplicacion?.nombreAplicacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.cilindrada">
                        <a [routerLink]="['/cilindrada', detallePresupuesto.cilindrada?.id, 'view' ]" >{{detallePresupuesto.cilindrada?.cantidadDeCilindros}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.motor">
                        <a [routerLink]="['/motor', detallePresupuesto.motor?.id, 'view' ]" >{{detallePresupuesto.motor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.tipoParteMotor">
                        <a [routerLink]="['/tipo-parte-motor', detallePresupuesto.tipoParteMotor?.id, 'view' ]" >{{detallePresupuesto.tipoParteMotor?.nombreTipoParteMotor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/detalle-presupuesto', detallePresupuesto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detalle-presupuesto', detallePresupuesto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detalle-presupuesto', { outlets: { popup: detallePresupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
