<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDetallePresupuestoLabel">Create or edit a Detalle Presupuesto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!detallePresupuesto.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="detallePresupuesto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_importe">Importe</label>
            <input type="number" class="form-control" name="importe" id="field_importe"
                [(ngModel)]="detallePresupuesto.importe" required min="0" />
            <div [hidden]="!(editForm.controls.importe?.dirty && editForm.controls.importe?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.importe?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.importe?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.importe?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_aplicacion">Aplicacion</label>
            <select class="form-control" id="field_aplicacion" name="aplicacion" [(ngModel)]="detallePresupuesto.aplicacion"  required>
                <option *ngIf="!editForm.value.aplicacion" [ngValue]="null" selected></option>
                <option [ngValue]="aplicacionOption.id === detallePresupuesto.aplicacion?.id ? detallePresupuesto.aplicacion : aplicacionOption" *ngFor="let aplicacionOption of aplicacions; trackBy: trackAplicacionById">{{aplicacionOption.nombreAplicacion}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.aplicacion?.dirty && editForm.controls.aplicacion?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.aplicacion?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cilindrada">Cilindrada</label>
            <select class="form-control" id="field_cilindrada" name="cilindrada" [(ngModel)]="detallePresupuesto.cilindrada"  required>
                <option *ngIf="!editForm.value.cilindrada" [ngValue]="null" selected></option>
                <option [ngValue]="cilindradaOption.id === detallePresupuesto.cilindrada?.id ? detallePresupuesto.cilindrada : cilindradaOption" *ngFor="let cilindradaOption of cilindradas; trackBy: trackCilindradaById">{{cilindradaOption.cantidadDeCilindros}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cilindrada?.dirty && editForm.controls.cilindrada?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cilindrada?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_motor">Motor</label>
            <select class="form-control" id="field_motor" name="motor" [(ngModel)]="detallePresupuesto.motor"  required>
                <option *ngIf="!editForm.value.motor" [ngValue]="null" selected></option>
                <option [ngValue]="motorOption.id === detallePresupuesto.motor?.id ? detallePresupuesto.motor : motorOption" *ngFor="let motorOption of motors; trackBy: trackMotorById">{{motorOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.motor?.dirty && editForm.controls.motor?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.motor?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tipoParteMotor">Tipo Parte Motor</label>
            <select class="form-control" id="field_tipoParteMotor" name="tipoParteMotor" [(ngModel)]="detallePresupuesto.tipoParteMotor"  required>
                <option *ngIf="!editForm.value.tipoParteMotor" [ngValue]="null" selected></option>
                <option [ngValue]="tipoParteMotorOption.id === detallePresupuesto.tipoParteMotor?.id ? detallePresupuesto.tipoParteMotor : tipoParteMotorOption" *ngFor="let tipoParteMotorOption of tipopartemotors; trackBy: trackTipoParteMotorById">{{tipoParteMotorOption.nombreTipoParteMotor}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.tipoParteMotor?.dirty && editForm.controls.tipoParteMotor?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.tipoParteMotor?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
