<div>
    <h2>
        <span>Detalle Presupuestos</span>
        <button class="btn btn-primary float-right jh-create-entity create-detalle-presupuesto" [routerLink]="['/', { outlets: { popup: ['detalle-presupuesto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Detalle Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="detallePresupuestos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Importe</span></th>
            <th><span>Aplicacion</span></th>
            <th><span>Cilindrada</span></th>
            <th><span>Motor</span></th>
            <th><span>Tipo Parte Motor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detallePresupuesto of detallePresupuestos ;trackBy: trackId">
                <td><a [routerLink]="['../detalle-presupuesto', detallePresupuesto.id ]">{{detallePresupuesto.id}}</a></td>
                <td>{{detallePresupuesto.importe}}</td>
                <td>
                    <div *ngIf="detallePresupuesto.aplicacion">
                        <a [routerLink]="['../aplicacion', detallePresupuesto.aplicacion?.id ]" >{{detallePresupuesto.aplicacion?.nombreAplicacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.cilindrada">
                        <a [routerLink]="['../cilindrada', detallePresupuesto.cilindrada?.id ]" >{{detallePresupuesto.cilindrada?.cantidadDeCilindros}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.motor">
                        <a [routerLink]="['../motor', detallePresupuesto.motor?.id ]" >{{detallePresupuesto.motor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detallePresupuesto.tipoParteMotor">
                        <a [routerLink]="['../tipo-parte-motor', detallePresupuesto.tipoParteMotor?.id ]" >{{detallePresupuesto.tipoParteMotor?.nombreTipoParteMotor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../detalle-presupuesto', detallePresupuesto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detalle-presupuesto/'+ detallePresupuesto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detalle-presupuesto/'+ detallePresupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
