
<div *ngIf="detallePresupuesto">
    <h2><span>Detalle Presupuesto</span> {{detallePresupuesto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Importe</span></dt>
        <dd>
            <span>{{detallePresupuesto.importe}}</span>
        </dd>
        <dt><span>Aplicacion</span></dt>
        <dd>
            <div *ngIf="detallePresupuesto.aplicacion">
                <a [routerLink]="['/aplicacion', detallePresupuesto.aplicacion?.id]">{{detallePresupuesto.aplicacion?.nombreAplicacion}}</a>
            </div>
        </dd>
        <dt><span>Cilindrada</span></dt>
        <dd>
            <div *ngIf="detallePresupuesto.cilindrada">
                <a [routerLink]="['/cilindrada', detallePresupuesto.cilindrada?.id]">{{detallePresupuesto.cilindrada?.cantidadDeCilindros}}</a>
            </div>
        </dd>
        <dt><span>Motor</span></dt>
        <dd>
            <div *ngIf="detallePresupuesto.motor">
                <a [routerLink]="['/motor', detallePresupuesto.motor?.id]">{{detallePresupuesto.motor?.id}}</a>
            </div>
        </dd>
        <dt><span>Tipo Parte Motor</span></dt>
        <dd>
            <div *ngIf="detallePresupuesto.tipoParteMotor">
                <a [routerLink]="['/tipo-parte-motor', detallePresupuesto.tipoParteMotor?.id]">{{detallePresupuesto.tipoParteMotor?.nombreTipoParteMotor}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'detalle-presupuesto/'+ detallePresupuesto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
