<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-detalle-presupuesto-heading">Create or edit a Detalle Presupuesto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_importe">Importe</label>
                    <input type="number" class="form-control" name="importe" id="field_importe"
                           formControlName="importe"/>
                    <div *ngIf="editForm.get('importe').invalid && (editForm.get('importe').dirty || editForm.get('importe').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('importe').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('importe').errors.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('importe')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aplicacion">Aplicacion</label>
                    <select class="form-control" id="field_aplicacion" name="aplicacion" formControlName="aplicacion">
                        <option *ngIf="!editForm.get('aplicacion').value" [ngValue]="null" selected></option>
                        <option [ngValue]="aplicacionOption.id === editForm.get('aplicacion').value?.id ? editForm.get('aplicacion').value : aplicacionOption" *ngFor="let aplicacionOption of aplicacions; trackBy: trackAplicacionById">{{aplicacionOption.nombreAplicacion}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('aplicacion').invalid && (editForm.get('aplicacion').dirty || editForm.get('aplicacion').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('aplicacion').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cilindrada">Cilindrada</label>
                    <select class="form-control" id="field_cilindrada" name="cilindrada" formControlName="cilindrada">
                        <option *ngIf="!editForm.get('cilindrada').value" [ngValue]="null" selected></option>
                        <option [ngValue]="cilindradaOption.id === editForm.get('cilindrada').value?.id ? editForm.get('cilindrada').value : cilindradaOption" *ngFor="let cilindradaOption of cilindradas; trackBy: trackCilindradaById">{{cilindradaOption.cantidadDeCilindros}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('cilindrada').invalid && (editForm.get('cilindrada').dirty || editForm.get('cilindrada').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cilindrada').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_motor">Motor</label>
                    <select class="form-control" id="field_motor" name="motor" formControlName="motor">
                        <option *ngIf="!editForm.get('motor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="motorOption.id === editForm.get('motor').value?.id ? editForm.get('motor').value : motorOption" *ngFor="let motorOption of motors; trackBy: trackMotorById">{{motorOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('motor').invalid && (editForm.get('motor').dirty || editForm.get('motor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('motor').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoParteMotor">Tipo Parte Motor</label>
                    <select class="form-control" id="field_tipoParteMotor" name="tipoParteMotor" formControlName="tipoParteMotor">
                        <option *ngIf="!editForm.get('tipoParteMotor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoParteMotorOption.id === editForm.get('tipoParteMotor').value?.id ? editForm.get('tipoParteMotor').value : tipoParteMotorOption" *ngFor="let tipoParteMotorOption of tipopartemotors; trackBy: trackTipoParteMotorById">{{tipoParteMotorOption.nombreTipoParteMotor}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tipoParteMotor').invalid && (editForm.get('tipoParteMotor').dirty || editForm.get('tipoParteMotor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tipoParteMotor').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
