<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-direccion-heading" data-cy="DireccionCreateUpdateHeading">Create or edit a Direccion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_calle">Calle</label>
          <input type="text" class="form-control" name="calle" id="field_calle" data-cy="calle" formControlName="calle" />
          <div *ngIf="editForm.get('calle')!.invalid && (editForm.get('calle')!.dirty || editForm.get('calle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('calle')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('calle')?.errors?.minlength">
              This field is required to be at least 3 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_numero">Numero</label>
          <input type="number" class="form-control" name="numero" id="field_numero" data-cy="numero" formControlName="numero" />
          <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('numero')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_localidad">Localidad</label>
          <select class="form-control" id="field_localidad" data-cy="localidad" name="localidad" formControlName="localidad">
            <option *ngIf="!editForm.get('localidad')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="localidadOption.id === editForm.get('localidad')!.value?.id ? editForm.get('localidad')!.value : localidadOption"
              *ngFor="let localidadOption of localidadsSharedCollection; trackBy: trackLocalidadById"
            >
              {{ localidadOption.nombreLocalidad }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['localidad'])!.invalid && (editForm.get(['localidad'])!.dirty || editForm.get(['localidad'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['localidad'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
