<div class="d-flex mb-2">
    <label for="example-number-input" class="col-md-3 text-center">{{cobranzaRepuesto?.tipoRepuesto?.nombreTipoRepuesto}}</label>
    <ng-container *ngIf="isEditing">
        <div class="col-md-3">
            <input type="text" placeholder="Proveedor" [(ngModel)]="proveedor" [resultFormatter]="formatterProv" id="typeahead-focusProv_{{cobranzaRepuesto.id}}"
                type="text" class="form-control" [ngbTypeahead]="searchProv" (focus)="focusProv$.next($event.target.value)" (click)="clickProv$.next($event.target.value)"
                #instanceNTAProv="ngbTypeahead" [inputFormatter]="formatterProv" />
        </div>
        <div class="col-md-2">
            <input class="form-control" [(ngModel)]="valor" type="number" step="0.01" min=0 value="{{costoRepuesto.valor}}" placeholder="Costo repuesto">
        </div>
    </ng-container>
    <ng-container *ngIf="!isEditing">
        <div class="col-md-3 text-center">
            <label>{{costoRepuesto?.proveedor?.nombreProveedor}}</label>
        </div>
        <div class="col-md-2 text-center">
            <label>${{costoRepuesto.valor}}</label>
        </div>
        <ng-container *ngIf="costoRepuesto.estado.nombreEstado != 'Recibido' && costoRepuesto.estado.nombreEstado != 'Recibido Parcial'; else recibidoTemplate">
            <div class="col-md-1 text-center">
                <label class="alert-primary" role="alert" style="border-radius: .25rem;">
                    {{costoRepuesto.estado.nombreEstado}}
                </label>
            </div>
        </ng-container>
        <ng-template #recibidoTemplate>
            <div class="col-md-3 text-center">
                <label class="alert-success" role="alert" style="border-radius: .25rem;">
                    {{costoRepuesto.estado.nombreEstado}}
                </label>
            </div>
        </ng-template>
    </ng-container>
    <ng-container *ngIf="!isPedido && !isRecibido">
        <div class="col-md-3">
            <button class="btn btn-primary" [disabled]="isSaving || (proveedor==null || valor==null)" (click)="actualizarPedidoDetalle()">Pedir</button>
        </div>
    </ng-container>
    <ng-container *ngIf="isPedido && !isRecibido">
        <ng-container *ngIf="!isEditing">
            <div class="col-md-1">
                <button class="btn btn-info" (click)="editarCostoRepuesto()" placement="top" ngbTooltip="Editar">
                    <fa-icon icon="edit"></fa-icon>
                </button>
            </div>
        </ng-container>
        <ng-container *ngIf="isEditing">
            <div class="col-md-1">
                <button class="btn btn-primary" (click)="actualizarPedidoDetalle()" placement="top" ngbTooltip="Guardar">
                    <fa-icon icon="save"></fa-icon>
                </button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger" (click)="cancelarEditarCostoRepuesto()" placement="top" ngbTooltip="Cancelar">
                    <fa-icon icon="window-close"></fa-icon>
                </button>
            </div>
        </ng-container>
        <div class="col-md-1">
            <button class="btn btn-outline-success" [disabled]="isSaving || isEditing" (click)="recibirRepuesto()">Recibir</button>
        </div>
    </ng-container>
    <ng-container *ngIf="isRecibido">
        <!-- Don't show any button -->
    </ng-container>
</div>
