<div class="d-flex mb-2 mt-2">
  <label for="example-number-input" class="col-md-2 text-center">{{ costoRepuesto?.tipoRepuesto?.nombreTipoRepuesto }}</label>
  <ng-container *ngIf="isEditing">
    <div class="col-md-2 text-center">
      <label *ngIf="costoRepuesto?.articulo">
        {{ costoRepuesto?.articulo?.marca?.nombreMarca }}({{ costoRepuesto?.articulo?.codigoArticuloProveedor }})
      </label>
    </div>
    <div class="col-md-2">
      <!-- Seleccion Medida-->
      <select class="custom-select" [(ngModel)]="costoRepuesto.medidaArticulo" name="medida" (change)="revisarEnStock()">
        <option selected disabled>Medida</option>
        <option *ngFor="let medida of medidas" [ngValue]="medida">
          {{ medida?.medida | json }}
        </option>
      </select>
    </div>
    <div class="col-md-2">
      <input
        class="form-control"
        [(ngModel)]="costoRepuesto.valor"
        type="number"
        step="0.01"
        min="0"
        placeholder="Costo repuesto"
        (change)="revisarAlcanzaEnStock()"
      />
      <p [hidden]="!buscoStock">
        <label *ngIf="hayStock">Hay {{ stockArticulo?.cantidad }} en stock! </label>
        <label *ngIf="!hayStock">Sin stock.</label>
      </p>
    </div>
  </ng-container>
  <ng-container *ngIf="!isEditing">
    <div class="col-md-2 text-center">
      <label *ngIf="costoRepuesto?.articulo">
        {{ costoRepuesto?.articulo?.marca?.nombreMarca }}({{ costoRepuesto?.articulo?.codigoArticuloProveedor }})
      </label>
    </div>
    <div class="col-md-2 text-center">
      <label>{{ costoRepuesto?.medidaArticulo?.medida }}</label>
    </div>
    <div class="col-md-2 text-center">
      <label *ngIf="costoRepuesto.estado.nombreEstado != 'En Stock'">${{ costoRepuesto.valor }}</label>
      <label *ngIf="costoRepuesto.estado.nombreEstado == 'En Stock'">{{ costoRepuesto.valor }} Un</label>
    </div>
  </ng-container>
  <ng-container *ngIf="!isRecibido && !isStock && costoRepuesto.estado.nombreEstado != 'Recibido Parcial'; else recibidoTemplate">
    <div class="col-md-2 text-center">
      <label class="alert-primary" role="alert" style="border-radius: 0.25rem">
        {{ costoRepuesto.estado.nombreEstado }}
      </label>
    </div>
  </ng-container>
  <ng-template #recibidoTemplate>
    <div class="col-md-2 text-center">
      <label class="alert-success" role="alert" style="border-radius: 0.25rem">
        {{ costoRepuesto.estado.nombreEstado }}
      </label>
    </div>
  </ng-template>
  <ng-container *ngIf="!isPedido && !isRecibido && !isStock">
    <div class="col-md-2">
      <ng-container *ngIf="!alcanzaStock">
        <button class="btn btn-primary" [disabled]="isSaving || costoRepuesto.valor == null" (click)="actualizarPedidoDetalle()">
          Pedir
        </button>
      </ng-container>
      <ng-container *ngIf="alcanzaStock">
        <button class="btn btn-success" [disabled]="isSaving || costoRepuesto.valor == null" (click)="reservarStock()">Usar Stock</button>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="isPedido && !isRecibido && !isStock">
    <ng-container *ngIf="!isEditing">
      <div class="col-md-1">
        <button class="btn btn-info" (click)="editarCostoRepuesto()" placement="top" ngbTooltip="Editar">
          <fa-icon icon="edit"></fa-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isEditing">
      <div class="col-md-1">
        <button class="btn btn-primary" (click)="actualizarPedidoDetalle()" placement="top" ngbTooltip="Guardar">
          <fa-icon icon="save"></fa-icon>
        </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger" (click)="cancelarEditarCostoRepuesto()" placement="top" ngbTooltip="Cancelar">
          <fa-icon icon="window-close"></fa-icon>
        </button>
      </div>
    </ng-container>
    <div class="col-md-1" *ngIf="!isEditing">
      <button class="btn btn-outline-success" [disabled]="isSaving || isEditing" (click)="recibirRepuesto()">Recibir</button>
    </div>
  </ng-container>
  <ng-container *ngIf="isRecibido || isStock">
    <!-- Don't show any button -->
  </ng-container>
</div>
