<div>
    <h2 id="page-heading">
        <span>Medio De Pago Cheques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medio-de-pago-cheque" [routerLink]="['/medio-de-pago-cheque/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Medio De Pago Cheque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medioDePagoCheques">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha Recibo</span></th>
            <th><span>Fecha Cobro</span></th>
            <th><span>Numero Cheque</span></th>
            <th><span>Numero Cuenta</span></th>
            <th><span>Banco</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medioDePagoCheque of medioDePagoCheques ;trackBy: trackId">
                <td><a [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'view' ]">{{medioDePagoCheque.id}}</a></td>
                <td>{{medioDePagoCheque.fechaRecibo | date:'mediumDate'}}</td>
                <td>{{medioDePagoCheque.fechaCobro | date:'mediumDate'}}</td>
                <td>{{medioDePagoCheque.numeroCheque}}</td>
                <td>{{medioDePagoCheque.numeroCuenta}}</td>
                <td>
                    <div *ngIf="medioDePagoCheque.banco">
                        <a [routerLink]="['../banco', medioDePagoCheque.banco?.id, 'view' ]" >{{medioDePagoCheque.banco?.nombreBanco}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medio-de-pago-cheque/'+ medioDePagoCheque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
