<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medio-de-pago-cheque-heading">Create or edit a Medio De Pago Cheque</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaRecibo">Fecha Recibo</label>
                    <div class="input-group">
                        <input id="field_fechaRecibo" type="text" class="form-control" name="fechaRecibo" ngbDatepicker  #fechaReciboDp="ngbDatepicker" formControlName="fechaRecibo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaReciboDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fechaCobro">Fecha Cobro</label>
                    <div class="input-group">
                        <input id="field_fechaCobro" type="text" class="form-control" name="fechaCobro" ngbDatepicker  #fechaCobroDp="ngbDatepicker" formControlName="fechaCobro"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaCobroDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroCheque">Numero Cheque</label>
                    <input type="text" class="form-control" name="numeroCheque" id="field_numeroCheque"
                           formControlName="numeroCheque"/>
                    <div *ngIf="editForm.get('numeroCheque').invalid && (editForm.get('numeroCheque').dirty || editForm.get('numeroCheque').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numeroCheque').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_numeroCuenta">Numero Cuenta</label>
                    <input type="text" class="form-control" name="numeroCuenta" id="field_numeroCuenta"
                           formControlName="numeroCuenta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_banco">Banco</label>
                    <select class="form-control" id="field_banco" name="banco" formControlName="banco">
                        <option *ngIf="!editForm.get('banco').value" [ngValue]="null" selected></option>
                        <option [ngValue]="bancoOption.id === editForm.get('banco').value?.id ? editForm.get('banco').value : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.nombreBanco}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('banco').invalid && (editForm.get('banco').dirty || editForm.get('banco').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('banco').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
