<div>
  <h2 id="page-heading" data-cy="MedioDePagoChequeHeading">
    <span>Medio De Pago Cheques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medio-de-pago-cheque"
        [routerLink]="['/medio-de-pago-cheque/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Medio De Pago Cheque </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="medioDePagoCheques?.length === 0">
    <span>No medioDePagoCheques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="medioDePagoCheques && medioDePagoCheques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Numero Cheque</span></th>
          <th scope="col"><span>Banco</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medioDePagoCheque of medioDePagoCheques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'view']">{{ medioDePagoCheque.id }}</a>
          </td>
          <td>{{ medioDePagoCheque.numeroCheque }}</td>
          <td>
            <div *ngIf="medioDePagoCheque.banco">
              <a [routerLink]="['/banco', medioDePagoCheque.banco?.id, 'view']">{{ medioDePagoCheque.banco?.nombreBanco }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medio-de-pago-cheque', medioDePagoCheque.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(medioDePagoCheque)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
