<div>
  <h2 id="page-heading" data-cy="BancoHeading">
    <span>Bancos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-banco"
        [routerLink]="['/banco/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Banco </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bancos?.length === 0">
    <span>No bancos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bancos && bancos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nombre Banco</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banco of bancos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/banco', banco.id, 'view']">{{ banco.id }}</a>
          </td>
          <td>{{ banco.nombreBanco }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/banco', banco.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/banco', banco.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(banco)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
