
<div *ngIf="detallePedido">
    <h2><span>Detalle Pedido</span> {{detallePedido.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Detalle Presupuesto</span></dt>
        <dd>
            <div *ngIf="detallePedido.detallePresupuesto">
                <a [routerLink]="['/detalle-presupuesto', detallePedido.detallePresupuesto?.id]">{{detallePedido.detallePresupuesto?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'detalle-pedido/'+ detallePedido.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
