<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pedidoRepuesto">
      <h2 data-cy="pedidoRepuestoDetailsHeading"><span>Pedido Repuesto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pedidoRepuesto.id }}</span>
        </dd>
        <dt><span>Fecha Creacion</span></dt>
        <dd>
          <span>{{ pedidoRepuesto.fechaCreacion | formatMediumDate }}</span>
        </dd>
        <dt><span>Fecha Pedido</span></dt>
        <dd>
          <span>{{ pedidoRepuesto.fechaPedido | formatMediumDate }}</span>
        </dd>
        <dt><span>Fecha Recibo</span></dt>
        <dd>
          <span>{{ pedidoRepuesto.fechaRecibo | formatMediumDate }}</span>
        </dd>
        <dt><span>Estado Pedido Repuesto</span></dt>
        <dd>
          <div *ngIf="pedidoRepuesto.estadoPedidoRepuesto">
            <a [routerLink]="['/estado-pedido-repuesto', pedidoRepuesto.estadoPedidoRepuesto?.id, 'view']">{{
              pedidoRepuesto.estadoPedidoRepuesto?.nombreEstado
            }}</a>
          </div>
        </dd>
        <dt><span>Presupuesto</span></dt>
        <dd>
          <div *ngIf="pedidoRepuesto.presupuesto">
            <a [routerLink]="['/presupuesto', pedidoRepuesto.presupuesto?.id, 'view']">{{ pedidoRepuesto.presupuesto?.id }}</a>
          </div>
        </dd>
        <dt><span>Document Type</span></dt>
        <dd>
          <div *ngIf="pedidoRepuesto.documentType">
            <a [routerLink]="['/documentation-type', pedidoRepuesto.documentType?.id, 'view']">{{
              pedidoRepuesto.documentType?.documentName
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pedido-repuesto', pedidoRepuesto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
