<div>
    <h2 id="page-heading">
        <span>Costo Repuesto Proveedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-costo-repuesto-proveedor" [routerLink]="['/costo-repuesto-proveedor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Costo Repuesto Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="costoRepuestoProveedors?.length === 0">
        <span>No costoRepuestoProveedors found</span>
    </div>
    <div class="table-responsive" *ngIf="costoRepuestoProveedors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tipo Repuesto</span></th>
            <th><span>Aplicacion</span></th>
            <th><span>Cilindrada</span></th>
            <th><span>Articulo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costoRepuestoProveedor of costoRepuestoProveedors ;trackBy: trackId">
                <td><a [routerLink]="['/costo-repuesto-proveedor', costoRepuestoProveedor.id, 'view' ]">{{costoRepuestoProveedor.id}}</a></td>
                <td>
                    <div *ngIf="costoRepuestoProveedor.tipoRepuesto">
                        <a [routerLink]="['/tipo-repuesto', costoRepuestoProveedor.tipoRepuesto?.id, 'view' ]" >{{costoRepuestoProveedor.tipoRepuesto?.nombreTipoRepuesto}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuestoProveedor.aplicacion">
                        <a [routerLink]="['/aplicacion', costoRepuestoProveedor.aplicacion?.id, 'view' ]" >{{costoRepuestoProveedor.aplicacion?.nombreAplicacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuestoProveedor.cilindrada">
                        <a [routerLink]="['/cilindrada', costoRepuestoProveedor.cilindrada?.id, 'view' ]" >{{costoRepuestoProveedor.cilindrada?.cantidadDeCilindros}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuestoProveedor.articulo">
                        <a [routerLink]="['/articulo', costoRepuestoProveedor.articulo?.id, 'view' ]" >{{costoRepuestoProveedor.articulo?.codigoArticuloProveedor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/costo-repuesto-proveedor', costoRepuestoProveedor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-repuesto-proveedor', costoRepuestoProveedor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-repuesto-proveedor', { outlets: { popup: costoRepuestoProveedor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
