<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="precioRepuesto">
      <h2 data-cy="precioRepuestoDetailsHeading"><span>Precio Repuesto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ precioRepuesto.id }}</span>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
          <span>{{ precioRepuesto.fecha | formatMediumDate }}</span>
        </dd>
        <dt><span>Precio Privado</span></dt>
        <dd>
          <span>{{ precioRepuesto.precioPrivado }}</span>
        </dd>
        <dt><span>Precio Publico</span></dt>
        <dd>
          <span>{{ precioRepuesto.precioPublico }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/precio-repuesto', precioRepuesto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
