<div class="jh-card">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group custom-search-form">
          <input
            type="text"
            class="form-control"
            #searchBar
            [(ngModel)]="searchText"
            (ngModelChange)="searchChanged.next($event)"
            placeholder="Buscar cliente..."
            placement="bottom"
            ngbTooltip="Filtrar por nombre, apellido o dirección"
          />
          <span class="input-group-btn">
            <button class="btn btn-light" type="button" (click)="searchChanged.next($event)">
              <span><fa-icon icon="search"></fa-icon></span>
            </button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <div class="col-md-2">
        <button
          class="btn btn-primary float-right"
          has-any-authority="['ROLE_USER']"
          [routerLink]="['/', { outlets: { popup: ['nuevo-cliente'] } }]"
        >
          <span> Nuevo Cliente </span>
        </button>
      </div>
    </div>
  </div>
  <br />
  <div class="container-fluid card shadow">
    <div class="table-responsive pt-3" *ngIf="content">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Apellido</th>
            <th scope="col" class="text-center">Teléfono</th>
            <th scope="col" class="text-center">Dirección</th>
            <th scope="col" class="text-center">Departamento</th>
            <th scope="col" class="text-center">Estado</th>
            <th scope="col" class="text-center">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of content">
            <th class="text-center">
              {{ cliente.persona?.nombre }}
            </th>
            <td class="text-center">{{ cliente.persona?.apellido }}</td>
            <td class="text-center">{{ cliente.persona?.numeroTelefono }}</td>
            <td class="text-center">
              <span *ngIf="cliente?.persona?.direccion"
                >{{ cliente?.persona?.direccion?.calle }}, {{ cliente?.persona?.direccion?.numero }}</span
              >
            </td>
            <td class="text-center">{{ cliente?.persona?.direccion?.localidad?.nombreLocalidad }}</td>
            <td>
              <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado == 'Alta'" class="text-center">
                <div class="alert-success" style="border-radius: 0.25rem" role="alert">Alta</div>
              </div>
              <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado == 'Baja'" class="text-center">
                <div class="alert-warning" role="alert" style="border-radius: 0.25rem">Baja</div>
              </div>
            </td>
            <td>
              <div class="btn-group flex-btn-group-container">
                <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado == 'Alta'" class="text-center">
                  <button
                    type="submit"
                    [routerLink]="['/', { outlets: { popup: 'clientes/' + cliente.id + '/editar' } }]"
                    replaceUrl="true"
                    class="btn btn-primary btn-sm"
                  >
                    <fa-icon icon="pen"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/', { outlets: { popup: 'clientes/' + cliente.id + '/eliminar' } }]"
                    replaceUrl="true"
                    class="btn btn-danger btn-sm"
                  >
                    <fa-icon icon="trash"></fa-icon>
                    <span class="d-none d-md-inline">Eliminar</span>
                  </button>
                </div>
                <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado == 'Baja'" class="text-right">
                  <button type="submit" replaceUrl="true" class="btn btn-success btn-sm">
                    <fa-icon icon="pen"></fa-icon>
                    <span class="d-none d-md-inline" (click)="activarCliente(cliente)">Activar</span>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="totalItems"
      #numPages
      [pageSize]="pageSize"
      [(page)]="page"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="requestContent()"
    >
    </ngb-pagination>
  </div>
</div>
