<div class="container-fluid card jh-card">
    <jhi-alert></jhi-alert>
    <div>
        <button class="btn btn-primary float-right" [routerLink]="['/', { outlets: { popup: ['nuevo-cliente'] } }]">
            <span>Nuevo Cliente</span>
        </button>
    </div>
    <div class="">
            <div id="row">
                    <div class="input-group stylish-input-group">
                        <input #search type="text" class="form-control search" placeholder="Buscar cliente..." (keydown.enter)="onSearch(search.value)">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
        <div class="row" *ngIf="clientes">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"  class="text-center" >Nombre</th>
                        <th scope="col"  class="text-center" >Apellido</th>
                        <th scope="col"  class="text-center" >Teléfono</th>
                        <th scope="col"  class="text-center" >Dirección</th>
                        <th scope="col"  class="text-center" >Departamento</th>
                        <th scope="col"  class="text-center" >Estado</th>
                        <th scope="col"  class="text-center" >Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <th class="text-center">
                            {{cliente.persona?.nombre}}
                        </th>
                        <td class="text-center">{{cliente.apellido}}</td>
                        <td class="text-center">{{cliente.persona?.numeroTelefono}}</td>
                        <td class="text-center">{{cliente?.persona?.direccion?.calle}}, {{cliente?.persona?.direccion?.numero}}</td>
                        <td class="text-center">{{cliente?.persona?.direccion?.localidad?.nombreLocalidad}}</td>
                        <td>
                            <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado== 'Alta'" class="text-center">
                                <div class="alert alert-success" style="padding: 0px;" role="alert">
                                    Alta
                                </div>
                            </div>
                            <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado== 'Baja'" class="text-center">
                                <div class="alert alert-warning" role="alert" style="padding: 0px;">
                                    Baja
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group flex-btn-group-container">
                                    <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado== 'Alta'" class="text-center">
                                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'clientes/'+ cliente.id + '/editar'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="d-none d-md-inline">Editar</span>
                                            </button>
                                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'clientes/'+ cliente.id + '/eliminar'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="d-none d-md-inline">Eliminar</span>
                                            </button>
                                    </div>
                                    <div *ngIf="cliente?.persona?.estadoPersona?.nombreEstado== 'Baja'" class="text-right">
                                            <button type="submit" replaceUrl="true" class="btn btn-success btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="d-none d-md-inline" (click)="activarCliente(cliente)">Activar</span>
                                            </button>
                                    </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
