<div>
    <h2 id="page-heading">
        <span>Costo Operacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-costo-operacion" [routerLink]="['/costo-operacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Costo Operacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="costoOperacions?.length === 0">
        <span>No costoOperacions found</span>
    </div>
    <div class="table-responsive" *ngIf="costoOperacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Costo Operacion</span></th>
            <th><span>Cilindrada</span></th>
            <th><span>Operacion</span></th>
            <th><span>Tipo Parte Motor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costoOperacion of costoOperacions ;trackBy: trackId">
                <td><a [routerLink]="['/costo-operacion', costoOperacion.id, 'view' ]">{{costoOperacion.id}}</a></td>
                <td>{{costoOperacion.costoOperacion}}</td>
                <td>
                    <div *ngIf="costoOperacion.cilindrada">
                        <a [routerLink]="['/cilindrada', costoOperacion.cilindrada?.id, 'view' ]" >{{costoOperacion.cilindrada?.cantidadDeCilindros}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoOperacion.operacion">
                        <a [routerLink]="['/operacion', costoOperacion.operacion?.id, 'view' ]" >{{costoOperacion.operacion?.nombreOperacion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoOperacion.tipoParteMotor">
                        <a [routerLink]="['/tipo-parte-motor', costoOperacion.tipoParteMotor?.id, 'view' ]" >{{costoOperacion.tipoParteMotor?.nombreTipoParteMotor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/costo-operacion', costoOperacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-operacion', costoOperacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-operacion', { outlets: { popup: costoOperacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
