
<div *ngIf="costoOperacion">
    <h2><span>Costo Operacion</span> {{costoOperacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Costo Operacion</span></dt>
        <dd>
            <span>{{costoOperacion.costoOperacion}}</span>
        </dd>
        <dt><span>Cilindrada</span></dt>
        <dd>
            <div *ngIf="costoOperacion.cilindrada">
                <a [routerLink]="['/cilindrada', costoOperacion.cilindrada?.id]">{{costoOperacion.cilindrada?.cantidadDeCilindros}}</a>
            </div>
        </dd>
        <dt><span>Operacion</span></dt>
        <dd>
            <div *ngIf="costoOperacion.operacion">
                <a [routerLink]="['/operacion', costoOperacion.operacion?.id]">{{costoOperacion.operacion?.nombreOperacion}}</a>
            </div>
        </dd>
        <dt><span>Tipo Parte Motor</span></dt>
        <dd>
            <div *ngIf="costoOperacion.tipoParteMotor">
                <a [routerLink]="['/tipo-parte-motor', costoOperacion.tipoParteMotor?.id]">{{costoOperacion.tipoParteMotor?.nombreTipoParteMotor}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'costo-operacion/'+ costoOperacion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
