<div>
    <h2>
        <span>Cajas</span>
        <button class="btn btn-primary float-right jh-create-entity create-caja" [routerLink]="['/', { outlets: { popup: ['caja-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Caja
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cajas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaApertura"><span>Hora Apertura</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="horaCierre"><span>Hora Cierre</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let caja of cajas ;trackBy: trackId">
                <td><a [routerLink]="['../caja', caja.id ]">{{caja.id}}</a></td>
                <td>{{caja.fecha | date:'mediumDate'}}</td>
                <td>{{caja.horaApertura | date:'medium'}}</td>
                <td>{{caja.horaCierre | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../caja', caja.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'caja/'+ caja.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'caja/'+ caja.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="cajas && cajas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
