<div>
    <h2 id="page-heading">
        <span>Estado Articulos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estado-articulo" [routerLink]="['/estado-articulo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Estado Articulo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="estadoArticulos?.length === 0">
        <span>No estadoArticulos found</span>
    </div>
    <div class="table-responsive" *ngIf="estadoArticulos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Estado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estadoArticulo of estadoArticulos ;trackBy: trackId">
                <td><a [routerLink]="['/estado-articulo', estadoArticulo.id, 'view' ]">{{estadoArticulo.id}}</a></td>
                <td>{{estadoArticulo.nombreEstado}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/estado-articulo', estadoArticulo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estado-articulo', estadoArticulo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estado-articulo', { outlets: { popup: estadoArticulo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
