<div>
    <h2 id="page-heading">
        <span>Costo Repuestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-costo-repuesto" [routerLink]="['/costo-repuesto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Costo Repuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="costoRepuestos?.length === 0">
        <span>No costoRepuestos found</span>
    </div>
    <div class="table-responsive" *ngIf="costoRepuestos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Valor</span></th>
            <th><span>Estado</span></th>
            <th><span>Articulo</span></th>
            <th><span>Tipo Repuesto</span></th>
            <th><span>Medida Articulo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costoRepuesto of costoRepuestos ;trackBy: trackId">
                <td><a [routerLink]="['/costo-repuesto', costoRepuesto.id, 'view' ]">{{costoRepuesto.id}}</a></td>
                <td>{{costoRepuesto.valor}}</td>
                <td>
                    <div *ngIf="costoRepuesto.estado">
                        <a [routerLink]="['/estado-costo-repuesto', costoRepuesto.estado?.id, 'view' ]" >{{costoRepuesto.estado?.nombreEstado}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuesto.articulo">
                        <a [routerLink]="['/articulo', costoRepuesto.articulo?.id, 'view' ]" >{{costoRepuesto.articulo?.codigoArticuloProveedor}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuesto.tipoRepuesto">
                        <a [routerLink]="['/tipo-repuesto', costoRepuesto.tipoRepuesto?.id, 'view' ]" >{{costoRepuesto.tipoRepuesto?.nombreTipoRepuesto}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="costoRepuesto.medidaArticulo">
                        <a [routerLink]="['/medida-articulo', costoRepuesto.medidaArticulo?.id, 'view' ]" >{{costoRepuesto.medidaArticulo?.medida}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/costo-repuesto', costoRepuesto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-repuesto', costoRepuesto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/costo-repuesto', { outlets: { popup: costoRepuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
