
<div *ngIf="empleado">
    <h2><span>Empleado</span> {{empleado.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Usuario</span></dt>
        <dd>
            <span>{{empleado.usuario}}</span>
        </dd>
        <dt><span>Contrasenia</span></dt>
        <dd>
            <span>{{empleado.contrasenia}}</span>
        </dd>
        <dt><span>Persona</span></dt>
        <dd>
            <div *ngIf="empleado.persona">
                <a [routerLink]="['/persona', empleado.persona?.id]">{{empleado.persona?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empleado/'+ empleado.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
