<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-medio-de-pago-heading" data-cy="MedioDePagoCreateUpdateHeading">Create or edit a Medio De Pago</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_medioDePagoCheque">Medio De Pago Cheque</label>
          <select
            class="form-control"
            id="field_medioDePagoCheque"
            data-cy="medioDePagoCheque"
            name="medioDePagoCheque"
            formControlName="medioDePagoCheque"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                medioDePagoChequeOption.id === editForm.get('medioDePagoCheque')!.value?.id
                  ? editForm.get('medioDePagoCheque')!.value
                  : medioDePagoChequeOption
              "
              *ngFor="let medioDePagoChequeOption of medioDePagoChequesCollection; trackBy: trackMedioDePagoChequeById"
            >
              {{ medioDePagoChequeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_formaDePago">Forma De Pago</label>
          <select class="form-control" id="field_formaDePago" data-cy="formaDePago" name="formaDePago" formControlName="formaDePago">
            <option *ngIf="!editForm.get('formaDePago')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                formaDePagoOption.id === editForm.get('formaDePago')!.value?.id ? editForm.get('formaDePago')!.value : formaDePagoOption
              "
              *ngFor="let formaDePagoOption of formaDePagosSharedCollection; trackBy: trackFormaDePagoById"
            >
              {{ formaDePagoOption.nombreFormaDePago }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['formaDePago'])!.invalid && (editForm.get(['formaDePago'])!.dirty || editForm.get(['formaDePago'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['formaDePago'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
