<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="persona">
            <h2><span>Persona</span> {{persona.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Numero Telefono</span></dt>
                <dd>
                    <span>{{persona.numeroTelefono}}</span>
                </dd>
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{persona.nombre}}</span>
                </dd>
                <dt><span>Apellido</span></dt>
                <dd>
                    <span>{{persona.apellido}}</span>
                </dd>
                <dt><span>Direccion</span></dt>
                <dd>
                    <div *ngIf="persona.direccion">
                        <a [routerLink]="['/direccion', persona.direccion?.id, 'view']">{{persona.direccion?.id}}</a>
                    </div>
                </dd>
                <dt><span>Estado Persona</span></dt>
                <dd>
                    <div *ngIf="persona.estadoPersona">
                        <a [routerLink]="['/estado-persona', persona.estadoPersona?.id, 'view']">{{persona.estadoPersona?.nombreEstado}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{persona.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/persona', persona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
