<div>
    <h2>
        <span>Personas</span>
        <button class="btn btn-primary float-right jh-create-entity create-persona" [routerLink]="['/', { outlets: { popup: ['persona-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Persona
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="personas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span>Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numeroTelefono"><span>Numero Telefono</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="direccion.id"><span>Direccion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estadoPersona.nombreEstado"><span>Estado Persona</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let persona of personas ;trackBy: trackId">
                <td><a [routerLink]="['../persona', persona.id ]">{{persona.id}}</a></td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.numeroTelefono}}</td>
                <td>
                    <div *ngIf="persona.direccion">
                        <a [routerLink]="['../direccion', persona.direccion?.id ]" >{{persona.direccion?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="persona.estadoPersona">
                        <a [routerLink]="['../estado-persona', persona.estadoPersona?.id ]" >{{persona.estadoPersona?.nombreEstado}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../persona', persona.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'persona/'+ persona.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'persona/'+ persona.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="personas && personas.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
