<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Reiniciar contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elige una nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Tu contraseña no se pudo reiniciar. Recorda que el pedido de reinicio tiene una periodo de 24 horas, despues tendras que pedir el reinicio de nuevo.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Contraseña reiniciada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">intenta ingresar</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y la confirmación son diferentes, verifica que sean iguales!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="New password"
                               formControlName="newPassword">
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.required">
                                Tu contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.minlength">
                                Tu contraseña es requerida con al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength">
                                Tu contraseña no puede tener más de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de nueva contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm the new password"
                               formControlName="confirmPassword">
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.required">
                                Tu confirmación es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                                Tu confirmación es requerida con al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                                Tu confirmación no puede tener más de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Reiniciar contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
