<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-movimiento-articulo-heading">Create or edit a Movimiento Articulo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!movimientoArticulo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="movimientoArticulo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                        [(ngModel)]="movimientoArticulo.cantidad" required min="1" jhiMin="1"/>
                    <div [hidden]="!(editForm.controls.cantidad?.dirty && editForm.controls.cantidad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cantidad?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cantidad?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cantidad?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_articulo">Articulo</label>
                    <select class="form-control" id="field_articulo" name="articulo" [(ngModel)]="movimientoArticulo.articulo"  required>
                        <option *ngIf="!editForm.value.articulo" [ngValue]="null" selected></option>
                        <option [ngValue]="articuloOption.id === movimientoArticulo.articulo?.id ? movimientoArticulo.articulo : articuloOption" *ngFor="let articuloOption of articulos; trackBy: trackArticuloById">{{articuloOption.descripcion}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.articulo?.dirty && editForm.controls.articulo?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.articulo?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_movimiento">Movimiento</label>
                    <select class="form-control" id="field_movimiento" name="movimiento" [(ngModel)]="movimientoArticulo.movimiento" required>
                        <option *ngIf="!editForm.value.movimiento" [ngValue]="null" selected></option>
                        <option [ngValue]="movimientoOption.id === movimientoArticulo.movimiento?.id ? movimientoArticulo.movimiento : movimientoOption" *ngFor="let movimientoOption of movimientos; trackBy: trackMovimientoById">{{movimientoOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.movimiento?.dirty && editForm.controls.movimiento?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.movimiento?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
