<div>
    <h2 id="page-heading">
        <span>Cobranza Repuestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cobranza-repuesto" [routerLink]="['/cobranza-repuesto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cobranza Repuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cobranzaRepuestos?.length === 0">
        <span>No cobranzaRepuestos found</span>
    </div>
    <div class="table-responsive" *ngIf="cobranzaRepuestos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Valor</span></th>
            <th><span>Tipo Repuesto</span></th>
            <th><span>Articulo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cobranzaRepuesto of cobranzaRepuestos ;trackBy: trackId">
                <td><a [routerLink]="['/cobranza-repuesto', cobranzaRepuesto.id, 'view' ]">{{cobranzaRepuesto.id}}</a></td>
                <td>{{cobranzaRepuesto.valor}}</td>
                <td>
                    <div *ngIf="cobranzaRepuesto.tipoRepuesto">
                        <a [routerLink]="['/tipo-repuesto', cobranzaRepuesto.tipoRepuesto?.id, 'view' ]" >{{cobranzaRepuesto.tipoRepuesto?.nombreTipoRepuesto}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cobranzaRepuesto.articulo">
                        <a [routerLink]="['/articulo', cobranzaRepuesto.articulo?.id, 'view' ]" >{{cobranzaRepuesto.articulo?.codigoArticuloProveedor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cobranza-repuesto', cobranzaRepuesto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cobranza-repuesto', cobranzaRepuesto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cobranza-repuesto', { outlets: { popup: cobranzaRepuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
