<div>
    <h2 id="page-heading">
        <span>Sub Categorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-categoria" [routerLink]="['/sub-categoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Sub Categoria
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="subCategorias?.length === 0">
        <span>No subCategorias found</span>
    </div>
    <div class="table-responsive" *ngIf="subCategorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Sub Categoria</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subCategoria of subCategorias ;trackBy: trackId">
                <td><a [routerLink]="['/sub-categoria', subCategoria.id, 'view' ]">{{subCategoria.id}}</a></td>
                <td>{{subCategoria.nombreSubCategoria}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sub-categoria', subCategoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-categoria', subCategoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sub-categoria', { outlets: { popup: subCategoria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
