<form class="h-100">
    <div class="col-md-10 align-center container card jh-card">
        <jhi-clientes-nuevopresupuesto
            (messageEvent)="recibirCliente($event)"></jhi-clientes-nuevopresupuesto>
        <jhi-motor-nuevo-presupuesto
            (messageEvent)="recibirDetalle($event)"></jhi-motor-nuevo-presupuesto>
        <jhi-operaciones-nuevopresupuesto
            [detallesPresupuestos]="detallesPresupuestos"></jhi-operaciones-nuevopresupuesto>
        <jhi-repuestos-nuevopresupuesto></jhi-repuestos-nuevopresupuesto>
        <div class="card-footer ">
            <button type="submit" class="btn btn-primary btn-right" (click)="guardarPresupuesto()">
                Crear
            </button>
            <button type="submit" class="btn btn-danger btn-right">Cancelar</button>
        </div>
    </div>
</form>
