<jhi-alert></jhi-alert>
<form role="form" class="jh-create-entity" #presupuestoForm="ngForm" (ngSubmit)="guardarPresupuesto()">
    <div class="col-auto align-center container jh-card">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-2 text-left">Fecha: {{fecha | date:'mediumDate'}}</div>
            <div class="col-md-2 text-left">Sucursal: {{this.empleado?.sucursal}}</div>
            <div class="col-md-2 text-left">Empleado: {{this.empleado?.nombre}}</div>
        </div>
        <jhi-clientes-nuevopresupuesto #cliente></jhi-clientes-nuevopresupuesto>
        <jhi-motor-nuevo-presupuesto (eventoDetallePresupuesto)="recibirDetalle($event)" (eventoIsSoldadura)="recibirIsSoldadura($event)"></jhi-motor-nuevo-presupuesto>
        <div *ngIf="mostrarResultadoBusquedaPresupuestoViejo" class="container">
            <div *ngIf="presupuestoViejo" class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h5 class="card-title">
                        Se encontró un presupuesto anterior de este motor!
                        <small *ngFor="let detalleViejo of presupuestoViejo?.detallePresupuestos"> ({{detalleViejo?.tipoParteMotor?.nombreTipoParteMotor}})</small>.
                    </h5>
                    <p class="card-text">
                        Se va a utilizar como base para la creación de este presupuesto

                    </p>
                </div>
            </div>
            <div *ngIf="!presupuestoViejo" class="card border-info mb-3">
                <div class="card-body text-info text-center">
                    <h5 class="card-title">No existe un presupuesto anterior sobre este motor.</h5>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4">
                <div class="card jh-card border-info mb-3">
                    <div class="card-header card-header text-white bg-info mb-3" style="background-color: #3498DB !important;">
                        Operaciones
                    </div>
                    <div *ngFor="let detalle of detallesPresupuestos">
                        <jhi-operaciones-nuevopresupuesto (eventoTotalOperaciones)="setTotalOperaciones()" #operaciones [detalle]="detalle">
                        </jhi-operaciones-nuevopresupuesto>
                    </div>
                    <div class="card-footer">
                        <div>
                            <label>Total Operaciones: ${{totalOperaciones | number:'1.2-2'}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card jh-card border-info mb-3">
                    <div class="card-header card-header text-white bg-info mb-3" style="background-color: #3498DB !important;">
                        Repuestos
                    </div>
                    <div *ngFor="let detalle of detallesPresupuestos">
                        <jhi-repuestos-nuevopresupuesto (eventoTotalRepuestos)="setTotalRepuestos()" #repuestos [detalle]="detalle">
                        </jhi-repuestos-nuevopresupuesto>
                    </div>
                    <div class="card-footer">
                        <div>
                            <label>Total Repuestos: ${{totalRepuestos | number:'1.2-2'}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <label>Total Presupuesto:
                <input type="number" class="form-control" name="importeTotal" step="0.01" [(ngModel)]="presupuesto.importeTotal">
            </label>
        </div>
        <div class="text-right">
            <button [disabled]="isSaving || !presupuestoForm.valid" type="submit" class="btn btn-primary" >
                Crear
            </button>
            <button type="button" class="btn btn-danger" [routerLink]="['/presupuestos']">
                Cancelar
            </button>
        </div>

    </div>
</form>
