<form class="container-fluid jh-create-entity">
    <div class="col-auto align-center container jh-card">
        <h3>Nuevo Presupuesto</h3>
        <jhi-clientes-nuevopresupuesto #cliente></jhi-clientes-nuevopresupuesto>
        <jhi-motor-nuevo-presupuesto (eventoDetallePresupuesto)="recibirDetalle($event)"></jhi-motor-nuevo-presupuesto>
        <div class="row row-eq-height">
            <div class="col-md-6">
                <jhi-operaciones-nuevopresupuesto #operaciones [operaciones]="operaciones">

                </jhi-operaciones-nuevopresupuesto>
            </div>
            <div class="col-md-6">
                <jhi-repuestos-nuevopresupuesto #repuestos></jhi-repuestos-nuevopresupuesto>
            </div>
        </div>
        <div class="card-footer ">
            <button type="submit" class="btn btn-primary btn-right" (click)="guardarPresupuesto()" [routerLink]="['/presupuestos']">
                Crear
            </button>
            <button type="submit" class="btn btn-danger btn-right" [routerLink]="['/presupuestos']">
                Cancelar</button>
        </div>
    </div>
</form>
