<div>
    <h2 id="page-heading">
        <span>Movimiento Presupuestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movimiento-presupuesto" [routerLink]="['/movimiento-presupuesto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Movimiento Presupuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="movimientoPresupuestos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Presupuesto</span></th>
            <th><span>Movimiento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimientoPresupuesto of movimientoPresupuestos ;trackBy: trackId">
                <td><a [routerLink]="['/movimiento-presupuesto', movimientoPresupuesto.id, 'view' ]">{{movimientoPresupuesto.id}}</a></td>
                <td>
                    <div *ngIf="movimientoPresupuesto.presupuesto">
                        <a [routerLink]="['../presupuesto', movimientoPresupuesto.presupuesto?.id, 'view' ]" >{{movimientoPresupuesto.presupuesto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimientoPresupuesto.movimiento">
                        <a [routerLink]="['../movimiento', movimientoPresupuesto.movimiento?.id, 'view' ]" >{{movimientoPresupuesto.movimiento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/movimiento-presupuesto', movimientoPresupuesto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/movimiento-presupuesto', movimientoPresupuesto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movimiento-presupuesto/'+ movimientoPresupuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
