<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDireccionLabel">Create or edit a Direccion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!direccion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="direccion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_calle">Calle</label>
            <input type="text" class="form-control" name="calle" id="field_calle"
                [(ngModel)]="direccion.calle" required minlength="3" />
            <div [hidden]="!(editForm.controls.calle?.dirty && editForm.controls.calle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.calle?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.calle?.errors?.minlength">
                   This field is required to be at least 3 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                [(ngModel)]="direccion.numero" required min="0" />
            <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numero?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numero?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numero?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_localidad">Localidad</label>
            <select class="form-control" id="field_localidad" name="localidad" [(ngModel)]="direccion.localidad"  required>
                <option *ngIf="!editForm.value.localidad" [ngValue]="null" selected></option>
                <option [ngValue]="localidadOption.id === direccion.localidad?.id ? direccion.localidad : localidadOption" *ngFor="let localidadOption of localidads; trackBy: trackLocalidadById">{{localidadOption.nombreLocalidad}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.localidad?.dirty && editForm.controls.localidad?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.localidad?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
