<div>
    <h2>
        <span>Direccions</span>
        <button class="btn btn-primary float-right jh-create-entity create-direccion" [routerLink]="['/', { outlets: { popup: ['direccion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Direccion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="direccions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Calle</span></th>
            <th><span>Numero</span></th>
            <th><span>Localidad</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let direccion of direccions ;trackBy: trackId">
                <td><a [routerLink]="['../direccion', direccion.id ]">{{direccion.id}}</a></td>
                <td>{{direccion.calle}}</td>
                <td>{{direccion.numero}}</td>
                <td>
                    <div *ngIf="direccion.localidad">
                        <a [routerLink]="['../localidad', direccion.localidad?.id ]" >{{direccion.localidad?.nombreLocalidad}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../direccion', direccion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'direccion/'+ direccion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'direccion/'+ direccion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
