<div>
    <h2 id="page-heading">
        <span>Tipo Parte Motors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-parte-motor" [routerLink]="['/tipo-parte-motor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tipo Parte Motor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tipoParteMotors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Tipo Parte Motor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoParteMotor of tipoParteMotors ;trackBy: trackId">
                <td><a [routerLink]="['/tipo-parte-motor', tipoParteMotor.id, 'view' ]">{{tipoParteMotor.id}}</a></td>
                <td>{{tipoParteMotor.nombreTipoParteMotor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tipo-parte-motor', tipoParteMotor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tipo-parte-motor', tipoParteMotor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tipo-parte-motor/'+ tipoParteMotor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
