<div class="jh-card">
    <div class="container-fluid card shadow">
        <br>
        <ngb-tabset #tabSet="ngbTabset">
            <div *ngFor="let tab of articulosPorMarca">
                <ngb-tab title=" {{tab.marca.nombreMarca}} ">
                    <ng-template ngbTabContent>
                        <br>
                        <jhi-lista-articulos [totalArticulosPorMarca]="tab.articulos" [marca]="tab.marca">
                        </jhi-lista-articulos>
                    </ng-template>
                </ngb-tab>
            </div>
        </ngb-tabset>
    </div>
</div>
