<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAplicacionLabel">Create or edit a Aplicacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aplicacion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aplicacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nombreAplicacion">Nombre Aplicacion</label>
            <input type="text" class="form-control" name="nombreAplicacion" id="field_nombreAplicacion"
                [(ngModel)]="aplicacion.nombreAplicacion" required />
            <div [hidden]="!(editForm.controls.nombreAplicacion?.dirty && editForm.controls.nombreAplicacion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombreAplicacion?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numeroGrupo">Numero Grupo</label>
            <input type="number" class="form-control" name="numeroGrupo" id="field_numeroGrupo"
                [(ngModel)]="aplicacion.numeroGrupo" required min="1" max="100" />
            <div [hidden]="!(editForm.controls.numeroGrupo?.dirty && editForm.controls.numeroGrupo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numeroGrupo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numeroGrupo?.errors?.min">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numeroGrupo?.errors?.max">
                    This field cannot be more than 100.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numeroGrupo?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
