<div>
    <h2 id="page-heading">
        <span>Aplicacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aplicacion" [routerLink]="['/aplicacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Aplicacion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="aplicacions?.length === 0">
        <span>No aplicacions found</span>
    </div>
    <div class="table-responsive" *ngIf="aplicacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Aplicacion</span></th>
            <th><span>Numero Grupo</span></th>
            <th><span>Motor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aplicacion of aplicacions ;trackBy: trackId">
                <td><a [routerLink]="['/aplicacion', aplicacion.id, 'view' ]">{{aplicacion.id}}</a></td>
                <td>{{aplicacion.nombreAplicacion}}</td>
                <td>{{aplicacion.numeroGrupo}}</td>
                <td>
                    <div *ngIf="aplicacion.motor">
                        <a [routerLink]="['/motor', aplicacion.motor?.id, 'view' ]" >{{aplicacion.motor?.marcaMotor}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/aplicacion', aplicacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aplicacion', aplicacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/aplicacion', { outlets: { popup: aplicacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
