<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="estadoMovimiento">
      <h2 data-cy="estadoMovimientoDetailsHeading"><span>Estado Movimiento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ estadoMovimiento.id }}</span>
        </dd>
        <dt><span>Nombre Estado</span></dt>
        <dd>
          <span>{{ estadoMovimiento.nombreEstado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/estado-movimiento', estadoMovimiento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
