<div class="jh-card">
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
            <div class="card border-success col-md-3 text-center">
                Total Día: ${{cajaDia?.totalMensual | number:'1.2-2'}}
            </div>
            <div class="col-md-7">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" #searchBar (keydown.enter)="search(searchBar.value)" placeholder="Buscar movimientos...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (onClick)="search(searchBar.value)">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary float-right" has-any-authority="['ROLE_USER']" [routerLink]="['nuevo_movimiento']">
                    <span>
                        Nuevo Movimiento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-hover table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Número</th>
                        <th scope="col" class="text-center">Descripción</th>
                        <th scope="col" class="text-center">Concepto</th>
                        <th scope="col" class="text-center">Forma de pago</th>
                        <th scope="col" class="text-center">Monto</th>
                        <th scope="col" class="text-center">Operaciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="cajaDia">
                    <tr [ngClass]="{
                        'table-success': movimiento.tipoMovimiento=='Ingreso',
                        'table-danger': movimiento.tipoMovimiento=='Egreso'
                    }"
                    *ngFor="let movimiento of movimientos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <th class="text-center text-dark">
                            {{movimiento.movimientoId}}
                        </th>
                        <td class="text-center text-dark">{{movimiento.descripcion}}</td>
                        <td class="text-center text-dark">{{movimiento.categoria}}</td>
                        <td class="text-center text-dark">
                            <span *ngIf="movimiento?.formaDePagoTip" container="body" placement="top" ngbTooltip="{{movimiento.formaDePagoTip}}"></span>
                            {{movimiento.formaDePago}}
                            <span *ngIf="movimiento.formaDePago == 'Tarjeta'"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            </span>
                            <span *ngIf="movimiento.formaDePago == 'Efectivo'"><i class="fa fa-money" aria-hidden="true"></i>
                            </span>
                            <span *ngIf="movimiento.formaDePago == 'Cheque'" ><i class="fa fa-list-alt" aria-hidden="true"></i>
                            </span>
                        </td>
                        <td class="text-center text-dark">${{movimiento.monto | number:'1.2-2'}}</td>
                        <td>
                            <div class="text-center">
                                <div *ngIf="movimiento?.estado== 'Alta'">
                                    <!--
                                        FALTA AGREGAR EL EDITAR MOVIMIENTO
                                        <button type="submit" replaceUrl="true" class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" [routerLink]="['editar_movimiento']">Editar</span>
                                    </button> -->
                                    <button type="submit" replaceUrl="true" class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" [routerLink]="['/', { outlets: { popup: 'cajas/'+ movimiento.movimientoId + '/eliminar_movimiento'} }]" replaceUrl="true">Eliminar</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination
                class="d-flex justify-content-center"
                [collectionSize]="movimientos.length"
                #numPages
                [pageSize]="pageSize"
                [(page)]="page"
                >
            </ngb-pagination>
    </div>
</div>
