<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoDetalleMovimiento">
            <h2><span>Tipo Detalle Movimiento</span> {{tipoDetalleMovimiento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nombre Tipo Detalle</span></dt>
                <dd>
                    <span>{{tipoDetalleMovimiento.nombreTipoDetalle}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-detalle-movimiento', tipoDetalleMovimiento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
