
<div *ngIf="tipoDetalleMovimiento">
    <h2><span>Tipo Detalle Movimiento</span> {{tipoDetalleMovimiento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre Tipo Detalle</span></dt>
        <dd>
            <span>{{tipoDetalleMovimiento.nombreTipoDetalle}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipo-detalle-movimiento/'+ tipoDetalleMovimiento.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
