<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoRepuesto">
      <h2 data-cy="tipoRepuestoDetailsHeading"><span>Tipo Repuesto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tipoRepuesto.id }}</span>
        </dd>
        <dt><span>Nombre Tipo Repuesto</span></dt>
        <dd>
          <span>{{ tipoRepuesto.nombreTipoRepuesto }}</span>
        </dd>
        <dt><span>Tipo Parte Motor</span></dt>
        <dd>
          <div *ngIf="tipoRepuesto.tipoParteMotor">
            <a [routerLink]="['/tipo-parte-motor', tipoRepuesto.tipoParteMotor?.id, 'view']">{{
              tipoRepuesto.tipoParteMotor?.nombreTipoParteMotor
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tipo-repuesto', tipoRepuesto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
