<div>
  <h2 id="page-heading" data-cy="ListaPrecioDesdeHastaHeading">
    <span>Lista Precio Desde Hastas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lista-precio-desde-hasta"
        [routerLink]="['/lista-precio-desde-hasta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Lista Precio Desde Hasta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="listaPrecioDesdeHastas?.length === 0">
    <span>No listaPrecioDesdeHastas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="listaPrecioDesdeHastas && listaPrecioDesdeHastas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Fecha Desde</span></th>
          <th scope="col"><span>Fecha Hasta</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listaPrecioDesdeHasta of listaPrecioDesdeHastas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lista-precio-desde-hasta', listaPrecioDesdeHasta.id, 'view']">{{ listaPrecioDesdeHasta.id }}</a>
          </td>
          <td>{{ listaPrecioDesdeHasta.fechaDesde | formatMediumDate }}</td>
          <td>{{ listaPrecioDesdeHasta.fechaHasta | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lista-precio-desde-hasta', listaPrecioDesdeHasta.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lista-precio-desde-hasta', listaPrecioDesdeHasta.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(listaPrecioDesdeHasta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
