<div>
    <h2 id="page-heading">
        <span>Pago Cheques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pago-cheque" [routerLink]="['/pago-cheque/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Pago Cheque
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pagoCheques?.length === 0">
        <span>No pagoCheques found</span>
    </div>
    <div class="table-responsive" *ngIf="pagoCheques?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fecha Cobro</span></th>
            <th><span>Fecha Recibo</span></th>
            <th><span>Numero Cheque</span></th>
            <th><span>Numero Cuenta</span></th>
            <th><span>Banco</span></th>
            <th><span>Forma De Pago</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pagoCheque of pagoCheques ;trackBy: trackId">
                <td><a [routerLink]="['/pago-cheque', pagoCheque.id, 'view' ]">{{pagoCheque.id}}</a></td>
                <td>{{pagoCheque.fechaCobro | date:'mediumDate'}}</td>
                <td>{{pagoCheque.fechaRecibo | date:'mediumDate'}}</td>
                <td>{{pagoCheque.numeroCheque}}</td>
                <td>{{pagoCheque.numeroCuenta}}</td>
                <td>
                    <div *ngIf="pagoCheque.banco">
                        <a [routerLink]="['/banco', pagoCheque.banco?.id, 'view' ]" >{{pagoCheque.banco?.nombreBanco}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pagoCheque.formaDePago">
                        <a [routerLink]="['/forma-de-pago', pagoCheque.formaDePago?.id, 'view' ]" >{{pagoCheque.formaDePago?.nombreFormaDePago}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pago-cheque', pagoCheque.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pago-cheque', pagoCheque.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pago-cheque', { outlets: { popup: pagoCheque.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
