<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-detalle-movimiento-heading" data-cy="DetalleMovimientoCreateUpdateHeading">Create or edit a Detalle Movimiento</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_valorUnitario">Valor Unitario</label>
          <input
            type="number"
            class="form-control"
            name="valorUnitario"
            id="field_valorUnitario"
            data-cy="valorUnitario"
            formControlName="valorUnitario"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cantidad">Cantidad</label>
          <input type="number" class="form-control" name="cantidad" id="field_cantidad" data-cy="cantidad" formControlName="cantidad" />
          <div *ngIf="editForm.get('cantidad')!.invalid && (editForm.get('cantidad')!.dirty || editForm.get('cantidad')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cantidad')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('cantidad')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cantidad')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tipoDetalleMovimiento">Tipo Detalle Movimiento</label>
          <select
            class="form-control"
            id="field_tipoDetalleMovimiento"
            data-cy="tipoDetalleMovimiento"
            name="tipoDetalleMovimiento"
            formControlName="tipoDetalleMovimiento"
          >
            <option *ngIf="!editForm.get('tipoDetalleMovimiento')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tipoDetalleMovimientoOption.id === editForm.get('tipoDetalleMovimiento')!.value?.id
                  ? editForm.get('tipoDetalleMovimiento')!.value
                  : tipoDetalleMovimientoOption
              "
              *ngFor="let tipoDetalleMovimientoOption of tipoDetalleMovimientosSharedCollection; trackBy: trackTipoDetalleMovimientoById"
            >
              {{ tipoDetalleMovimientoOption.nombreTipoDetalle }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['tipoDetalleMovimiento'])!.invalid &&
            (editForm.get(['tipoDetalleMovimiento'])!.dirty || editForm.get(['tipoDetalleMovimiento'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['tipoDetalleMovimiento'])?.errors?.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_articulo">Articulo</label>
          <select class="form-control" id="field_articulo" data-cy="articulo" name="articulo" formControlName="articulo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="articuloOption.id === editForm.get('articulo')!.value?.id ? editForm.get('articulo')!.value : articuloOption"
              *ngFor="let articuloOption of articulosSharedCollection; trackBy: trackArticuloById"
            >
              {{ articuloOption.descripcion }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pedidoRepuesto">Pedido Repuesto</label>
          <select
            class="form-control"
            id="field_pedidoRepuesto"
            data-cy="pedidoRepuesto"
            name="pedidoRepuesto"
            formControlName="pedidoRepuesto"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                pedidoRepuestoOption.id === editForm.get('pedidoRepuesto')!.value?.id
                  ? editForm.get('pedidoRepuesto')!.value
                  : pedidoRepuestoOption
              "
              *ngFor="let pedidoRepuestoOption of pedidoRepuestosSharedCollection; trackBy: trackPedidoRepuestoById"
            >
              {{ pedidoRepuestoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_presupuesto">Presupuesto</label>
          <select class="form-control" id="field_presupuesto" data-cy="presupuesto" name="presupuesto" formControlName="presupuesto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                presupuestoOption.id === editForm.get('presupuesto')!.value?.id ? editForm.get('presupuesto')!.value : presupuestoOption
              "
              *ngFor="let presupuestoOption of presupuestosSharedCollection; trackBy: trackPresupuestoById"
            >
              {{ presupuestoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_medida">Medida</label>
          <select class="form-control" id="field_medida" data-cy="medida" name="medida" formControlName="medida">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                medidaArticuloOption.id === editForm.get('medida')!.value?.id ? editForm.get('medida')!.value : medidaArticuloOption
              "
              *ngFor="let medidaArticuloOption of medidaArticulosSharedCollection; trackBy: trackMedidaArticuloById"
            >
              {{ medidaArticuloOption.medida }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
