<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="costoRepuestoProveedor">
      <h2 data-cy="costoRepuestoProveedorDetailsHeading"><span>Costo Repuesto Proveedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ costoRepuestoProveedor.id }}</span>
        </dd>
        <dt><span>Tipo Repuesto</span></dt>
        <dd>
          <div *ngIf="costoRepuestoProveedor.tipoRepuesto">
            <a [routerLink]="['/tipo-repuesto', costoRepuestoProveedor.tipoRepuesto?.id, 'view']">{{
              costoRepuestoProveedor.tipoRepuesto?.nombreTipoRepuesto
            }}</a>
          </div>
        </dd>
        <dt><span>Aplicacion</span></dt>
        <dd>
          <div *ngIf="costoRepuestoProveedor.aplicacion">
            <a [routerLink]="['/aplicacion', costoRepuestoProveedor.aplicacion?.id, 'view']">{{
              costoRepuestoProveedor.aplicacion?.nombreAplicacion
            }}</a>
          </div>
        </dd>
        <dt><span>Cilindrada</span></dt>
        <dd>
          <div *ngIf="costoRepuestoProveedor.cilindrada">
            <a [routerLink]="['/cilindrada', costoRepuestoProveedor.cilindrada?.id, 'view']">{{
              costoRepuestoProveedor.cilindrada?.cantidadDeCilindros
            }}</a>
          </div>
        </dd>
        <dt><span>Articulo</span></dt>
        <dd>
          <div *ngIf="costoRepuestoProveedor.articulo">
            <a [routerLink]="['/articulo', costoRepuestoProveedor.articulo?.id, 'view']">{{
              costoRepuestoProveedor.articulo?.codigoArticuloProveedor
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/costo-repuesto-proveedor', costoRepuestoProveedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
