<div>
    <h2 id="page-heading">
        <span>Medio De Pagos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medio-de-pago" [routerLink]="['/medio-de-pago/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Medio De Pago
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medioDePagos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Forma De Pago</span></th>
            <th><span>Medio De Pago Cheque</span></th>
            <th><span>Medio De Pago Tarjeta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medioDePago of medioDePagos ;trackBy: trackId">
                <td><a [routerLink]="['/medio-de-pago', medioDePago.id, 'view' ]">{{medioDePago.id}}</a></td>
                <td>
                    <div *ngIf="medioDePago.formaDePago">
                        <a [routerLink]="['../forma-de-pago', medioDePago.formaDePago?.id, 'view' ]" >{{medioDePago.formaDePago?.nombreFormaDePago}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medioDePago.medioDePagoCheque">
                        <a [routerLink]="['../medio-de-pago-cheque', medioDePago.medioDePagoCheque?.id, 'view' ]" >{{medioDePago.medioDePagoCheque?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medioDePago.medioDePagoTarjeta">
                        <a [routerLink]="['../medio-de-pago-tarjeta', medioDePago.medioDePagoTarjeta?.id, 'view' ]" >{{medioDePago.medioDePagoTarjeta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/medio-de-pago', medioDePago.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medio-de-pago', medioDePago.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medio-de-pago/'+ medioDePago.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
