<div>
    <h2>
        <span>Estado Pedido Repuestos</span>
        <button class="btn btn-primary float-right jh-create-entity create-estado-pedido-repuesto" [routerLink]="['/', { outlets: { popup: ['estado-pedido-repuesto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Estado Pedido Repuesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="estadoPedidoRepuestos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre Estado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estadoPedidoRepuesto of estadoPedidoRepuestos ;trackBy: trackId">
                <td><a [routerLink]="['../estado-pedido-repuesto', estadoPedidoRepuesto.id ]">{{estadoPedidoRepuesto.id}}</a></td>
                <td>{{estadoPedidoRepuesto.nombreEstado}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../estado-pedido-repuesto', estadoPedidoRepuesto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estado-pedido-repuesto/'+ estadoPedidoRepuesto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'estado-pedido-repuesto/'+ estadoPedidoRepuesto.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
