<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-precio-repuesto-heading" data-cy="PrecioRepuestoCreateUpdateHeading">Create or edit a Precio Repuesto</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_precioPrivado">Precio Privado</label>
          <input
            type="number"
            class="form-control"
            name="precioPrivado"
            id="field_precioPrivado"
            data-cy="precioPrivado"
            formControlName="precioPrivado"
          />
          <div
            *ngIf="
              editForm.get('precioPrivado')!.invalid && (editForm.get('precioPrivado')!.dirty || editForm.get('precioPrivado')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('precioPrivado')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('precioPrivado')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_precioPublico">Precio Publico</label>
          <input
            type="number"
            class="form-control"
            name="precioPublico"
            id="field_precioPublico"
            data-cy="precioPublico"
            formControlName="precioPublico"
          />
          <div
            *ngIf="
              editForm.get('precioPublico')!.invalid && (editForm.get('precioPublico')!.dirty || editForm.get('precioPublico')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('precioPublico')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('precioPublico')?.errors?.min">
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('precioPublico')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
