<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <!--span class="navbar-title">Soldimet</span-->
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" *jhiHasAnyAuthority="'ROLE_USER'" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="collapseNavbar()" [routerLink]="['presupuestos']">
                    <span>
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <span>Presupuestos</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="clientes" routerLinkActive="active" *jhiHasAnyAuthority="'ROLE_USER'" [routerLinkActiveOptions]="{exact: true}"
                    (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Clientes</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cajas" routerLinkActive="active" *jhiHasAnyAuthority="'ROLE_USER'" [routerLinkActiveOptions]="{exact: true}"
                    (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <span>Caja</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="pedidos" routerLinkActive="active" *jhiHasAnyAuthority="'ROLE_USER'" [routerLinkActiveOptions]="{exact: true}"
                    (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span>Pedidos</span>
                    </span>
                </a>
            </li>

            <!--li class="nav-item dropdown pointer" routerLinkActive="active" ngbDropdown *jhiHasAnyAuthority="'ROLE_USER'"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle"  class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <span>Pedidos</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="pedidos/pendientes" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-list-ol" aria-hidden="true"></i>
                            <span>Pendientes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedidos/realizados" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <span>Realizados</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedidos/recibidos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span>recibidos</span>
                        </a>
                    </li>
                </ul>
            </li-->
            <li class="nav-item" routerLinkActive="active" *jhiHasAnyAuthority="['ROLE_JEFE','ROLE_ADMIN']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="operaciones" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <span>Operaciones</span>
                    </span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span>
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="aplicacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Aplicacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="banco" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Banco</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="caja" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Caja</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sub-categoria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Sub Categoria</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="categoria-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Categoria Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cilindrada" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Cilindrada</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Cliente</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Costo Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Detalle Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="direccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Direccion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="empleado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Empleado</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Estado Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="forma-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Forma De Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="historial-precio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Historial Precio</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-desde-hasta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Lista Precio Desde Hasta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-rectificacion-cram" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Lista Precio Rectificacion Cram</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="localidad" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Localidad</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="marca" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Marca</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-cheque" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Pago Cheque</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-efectivo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Pago Efectivo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Pago Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="precio-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Precio Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="proveedor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Proveedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rubro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Rubro</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-parte-motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Parte Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Cobranza Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Detalle Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Tipo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Movimiento Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Movimiento Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span>Movimiento Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="aplicacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Aplicacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="banco" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Banco</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="caja" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Caja</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="categoria-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Categoria Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cilindrada" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Cilindrada</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Cliente</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Cobranza Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Detalle Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="direccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Direccion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="empleado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Empleado</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="forma-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Forma De Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="historial-precio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Historial Precio</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-desde-hasta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Lista Precio Desde Hasta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-rectificacion-cram" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Lista Precio Rectificacion Cram</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="localidad" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Localidad</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="marca" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Marca</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Movimiento Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Movimiento Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Movimiento Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-cheque" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Pago Cheque</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-efectivo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Pago Efectivo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Pago Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="precio-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Precio Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="proveedor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Proveedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rubro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Rubro</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sub-categoria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Sub Categoria</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tipo Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tipo Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-parte-motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tipo Parte Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tipo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Tipo Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Estado Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="documentation-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Documentation Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sucursal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Sucursal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="categoria-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Categoria Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medio-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon [icon]="'asterisk'" [fixedWidth]="true"></fa-icon>
                            <span>Medio De Pago</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span>User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span>Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>
                            Cuenta
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'wrench'" [fixedWidth]="true"></fa-icon>
                            <span>Opciones</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon [icon]="'clock'" [fixedWidth]="true"></fa-icon>
                            <span>Contraseña</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Desloguear</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                            <span>Identificarse</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
