<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="collapseNavbar()" [routerLink]="['reportes']" *jhiHasAnyAuthority="['ROLE_JEFE','ROLE_ADMIN']">
                    <span>
                        <fa-icon icon="signal"></fa-icon>
                        <span>Reportes</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" (click)="collapseNavbar()" [routerLink]="['presupuestos']" *jhiHasAnyAuthority="'ROLE_USER'">
                    <span>
                        <fa-icon icon="folder-open"></fa-icon>
                        <span>Presupuestos</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" routerLink="clientes" *jhiHasAnyAuthority="'ROLE_USER'"
                    (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="users"></fa-icon>
                        <span>Clientes</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" routerLink="cajas" *jhiHasAnyAuthority="'ROLE_USER'"
                    (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon="money-bill-wave"></fa-icon>
                        <span>Caja</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="pedidos" *jhiHasAnyAuthority="'ROLE_USER'"
                    (click)="collapseNavbar()">
                    <fa-icon icon="clipboard-list"></fa-icon>
                      <span>Pedidos</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="stock" *jhiHasAnyAuthority="'ROLE_USER'"
                    (click)="collapseNavbar()">
                    <fa-icon icon="box"></fa-icon>
                      <span>Stock</span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_JEFE','ROLE_ADMIN']" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="list-alt"></fa-icon>
                        <span>Lista de Precios</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="operaciones" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tools" fixedWidth="true"></fa-icon>
                            <span>Operaciones</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="repuestos" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="hammer" fixedWidth="true"></fa-icon>
                            <span>Repuestos de proveedores</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                    <li>
                        <a class="dropdown-item" routerLink="aplicacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Aplicacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="banco" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Banco</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="caja" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Caja</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sub-categoria" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Sub Categoria</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="categoria-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Categoria Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cilindrada" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Cilindrada</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cliente" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Cliente</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Costo Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Detalle Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="direccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Direccion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="empleado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Empleado</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-detalle-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Detalle Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="forma-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Forma De Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="historial-precio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Historial Precio</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-desde-hasta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Lista Precio Desde Hasta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="lista-precio-rectificacion-cram" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Lista Precio Rectificacion Cram</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="localidad" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Localidad</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="marca" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Marca</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-cheque" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Pago Cheque</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-efectivo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Pago Efectivo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pago-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Pago Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="pedido-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Pedido Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="persona" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Persona</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="precio-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Precio Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="proveedor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Proveedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rubro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Rubro</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Tipo Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Tipo Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-parte-motor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Tipo Parte Motor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="tipo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Tipo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="detalle-movimiento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Detalle Movimiento</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-operacion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Cobranza Operacion</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="cobranza-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Cobranza Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Movimiento Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-presupuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Movimiento Presupuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-pedido" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Movimiento Pedido</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="estado-costo-repuesto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Estado Costo Repuesto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="documentation-type" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Documentation Type</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sucursal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Sucursal</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medio-de-pago" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Medio De Pago</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medio-de-pago-tarjeta" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Medio De Pago Tarjeta</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medio-de-pago-cheque" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Medio De Pago Cheque</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="costo-repuesto-proveedor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Costo Repuesto Proveedor</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="medida-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Medida Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="stock-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Stock Articulo</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="movimiento-articulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Movimiento Articulo</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span>Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user" fixedWidth="true"></fa-icon>
                            <span>User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="list" fixedWidth="true"></fa-icon>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                            <span>Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="book" fixedWidth="true"></fa-icon>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li >
                        <a class="dropdown-item" routerLink="admin/flags" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="flag" fixedWidth="true"></fa-icon>
                            <span>Flags</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span>
                      Cuenta
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span>Configuración</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span>Contraseña</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span>Salir</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span>Ingresar</span>
                        </a>
                    </li>
                    <!-- <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span>Register</span>
                        </a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>
</nav>
