<div>
    <h2 id="page-heading">
        <span>Medio De Pago Tarjetas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medio-de-pago-tarjeta" [routerLink]="['/medio-de-pago-tarjeta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Medio De Pago Tarjeta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="medioDePagoTarjetas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Ultimos 4</span></th>
            <th><span>Tarjeta</span></th>
            <th><span>Tipo Tarjeta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medioDePagoTarjeta of medioDePagoTarjetas ;trackBy: trackId">
                <td><a [routerLink]="['/medio-de-pago-tarjeta', medioDePagoTarjeta.id, 'view' ]">{{medioDePagoTarjeta.id}}</a></td>
                <td>{{medioDePagoTarjeta.ultimos4}}</td>
                <td>
                    <div *ngIf="medioDePagoTarjeta.tarjeta">
                        <a [routerLink]="['../tarjeta', medioDePagoTarjeta.tarjeta?.id, 'view' ]" >{{medioDePagoTarjeta.tarjeta?.nombreTarjeta}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medioDePagoTarjeta.tipoTarjeta">
                        <a [routerLink]="['../tipo-tarjeta', medioDePagoTarjeta.tipoTarjeta?.id, 'view' ]" >{{medioDePagoTarjeta.tipoTarjeta?.nombreTipoTarjeta}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/medio-de-pago-tarjeta', medioDePagoTarjeta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/medio-de-pago-tarjeta', medioDePagoTarjeta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medio-de-pago-tarjeta/'+ medioDePagoTarjeta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
