<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Soldimet, activación de cuenta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Sr
        </p>
        <p th:text="#{email.activation.text1}">
            Por favor haga click en el link:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})" th:href="${url}"
            th:text="${url}">link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">gracias, </span>
            <br/>
            <em th:text="#{email.signature}">Soldimet.</em>
        </p>
    </body>
</html>
