<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Soldimet, crear contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Sr:
        </p>
        <p th:text="#{email.creation.text1}">
            Se ha creado una cuenta con su email, por favor ingrese a:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Logink</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">gracias, </span>
            <br/>
            <em th:text="#{email.signature}">Soldimet.</em>
        </p>
    </body>
</html>
