<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Soldimet, reinicio de contraseña</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Sr:
        </p>
        <p th:text="#{email.reset.text1}">
            Para reiniciar su contraseña, por favor haga click en el siguiente link:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">sracias, </span>
            <br/>
            <em th:text="#{email.signature}">Soldimet.</em>
        </p>
    </body>
</html>
