<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="detalleMovimiento">
      <h2 data-cy="detalleMovimientoDetailsHeading"><span>Detalle Movimiento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ detalleMovimiento.id }}</span>
        </dd>
        <dt><span>Valor Unitario</span></dt>
        <dd>
          <span>{{ detalleMovimiento.valorUnitario }}</span>
        </dd>
        <dt><span>Cantidad</span></dt>
        <dd>
          <span>{{ detalleMovimiento.cantidad }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ detalleMovimiento.descripcion }}</span>
        </dd>
        <dt><span>Tipo Detalle Movimiento</span></dt>
        <dd>
          <div *ngIf="detalleMovimiento.tipoDetalleMovimiento">
            <a [routerLink]="['/tipo-detalle-movimiento', detalleMovimiento.tipoDetalleMovimiento?.id, 'view']">{{
              detalleMovimiento.tipoDetalleMovimiento?.nombreTipoDetalle
            }}</a>
          </div>
        </dd>
        <dt><span>Articulo</span></dt>
        <dd>
          <div *ngIf="detalleMovimiento.articulo">
            <a [routerLink]="['/articulo', detalleMovimiento.articulo?.id, 'view']">{{
              detalleMovimiento.articulo?.codigoArticuloProveedor
            }}</a>
          </div>
        </dd>
        <dt><span>Pedido Repuesto</span></dt>
        <dd>
          <div *ngIf="detalleMovimiento.pedidoRepuesto">
            <a [routerLink]="['/pedido-repuesto', detalleMovimiento.pedidoRepuesto?.id, 'view']">{{
              detalleMovimiento.pedidoRepuesto?.id
            }}</a>
          </div>
        </dd>
        <dt><span>Presupuesto</span></dt>
        <dd>
          <div *ngIf="detalleMovimiento.presupuesto">
            <a [routerLink]="['/presupuesto', detalleMovimiento.presupuesto?.id, 'view']">{{ detalleMovimiento.presupuesto?.id }}</a>
          </div>
        </dd>
        <dt><span>Medida</span></dt>
        <dd>
          <div *ngIf="detalleMovimiento.medida">
            <a [routerLink]="['/medida-articulo', detalleMovimiento.medida?.id, 'view']">{{ detalleMovimiento.medida?.medida }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/detalle-movimiento', detalleMovimiento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
