<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-detalle-movimiento-heading">Create or edit a Detalle Movimiento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!detalleMovimiento.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="detalleMovimiento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_valor_unitario">Valor Unitario</label>
                    <input type="number" class="form-control" name="valor_unitario" id="field_valor_unitario"
                        [(ngModel)]="detalleMovimiento.valor_unitario" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                        [(ngModel)]="detalleMovimiento.cantidad" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.cantidad?.dirty && editForm.controls.cantidad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cantidad?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cantidad?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cantidad?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tipoDetalleMovimiento">Tipo Detalle Movimiento</label>
                    <select class="form-control" id="field_tipoDetalleMovimiento" name="tipoDetalleMovimiento" [(ngModel)]="detalleMovimiento.tipoDetalleMovimiento"  required>
                        <option *ngIf="!editForm.value.tipoDetalleMovimiento" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoDetalleMovimientoOption.id === detalleMovimiento.tipoDetalleMovimiento?.id ? detalleMovimiento.tipoDetalleMovimiento : tipoDetalleMovimientoOption" *ngFor="let tipoDetalleMovimientoOption of tipodetallemovimientos; trackBy: trackTipoDetalleMovimientoById">{{tipoDetalleMovimientoOption.nombreTipoDetalle}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipoDetalleMovimiento?.dirty && editForm.controls.tipoDetalleMovimiento?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoDetalleMovimiento?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_articulo">Articulo</label>
                    <select class="form-control" id="field_articulo" name="articulo" [(ngModel)]="detalleMovimiento.articulo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="articuloOption.id === detalleMovimiento.articulo?.id ? detalleMovimiento.articulo : articuloOption" *ngFor="let articuloOption of articulos; trackBy: trackArticuloById">{{articuloOption.descripcion}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_pedidoRepuesto">Pedido Repuesto</label>
                    <select class="form-control" id="field_pedidoRepuesto" name="pedidoRepuesto" [(ngModel)]="detalleMovimiento.pedidoRepuesto" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pedidoRepuestoOption.id === detalleMovimiento.pedidoRepuesto?.id ? detalleMovimiento.pedidoRepuesto : pedidoRepuestoOption" *ngFor="let pedidoRepuestoOption of pedidorepuestos; trackBy: trackPedidoRepuestoById">{{pedidoRepuestoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_presupuesto">Presupuesto</label>
                    <select class="form-control" id="field_presupuesto" name="presupuesto" [(ngModel)]="detalleMovimiento.presupuesto" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="presupuestoOption.id === detalleMovimiento.presupuesto?.id ? detalleMovimiento.presupuesto : presupuestoOption" *ngFor="let presupuestoOption of presupuestos; trackBy: trackPresupuestoById">{{presupuestoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
