<div>
    <h2 id="page-heading">
        <span>Detalle Movimientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-detalle-movimiento" [routerLink]="['/detalle-movimiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Detalle Movimiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="detalleMovimientos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tipo Detalle Movimiento</span></th>
            <th><span>Presupuesto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detalleMovimiento of detalleMovimientos ;trackBy: trackId">
                <td><a [routerLink]="['/detalle-movimiento', detalleMovimiento.id, 'view' ]">{{detalleMovimiento.id}}</a></td>
                <td>
                    <div *ngIf="detalleMovimiento.tipoDetalleMovimiento">
                        <a [routerLink]="['../tipo-detalle-movimiento', detalleMovimiento.tipoDetalleMovimiento?.id, 'view' ]" >{{detalleMovimiento.tipoDetalleMovimiento?.nombreTipoDetalle}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detalleMovimiento.presupuesto">
                        <a [routerLink]="['../presupuesto', detalleMovimiento.presupuesto?.id, 'view' ]" >{{detalleMovimiento.presupuesto?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/detalle-movimiento', detalleMovimiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/detalle-movimiento', detalleMovimiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detalle-movimiento/'+ detalleMovimiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
