<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-5 col-xs-6 bhoechie-tab-container">
        <div class="list-group">
            <a routerLink="pendientes" class="list-group-item active text-center">
                <h4 class="fa fa-list-ol" aria-hidden="true"></h4>
                <br/>Pendientes
            </a>
            <a routerLink="realizados" class="list-group-item text-center">
                <h4 class="fa fa-list" aria-hidden="true"></h4>
                <br/>Realizados
            </a>
            <a routerLink="recibidos" class="list-group-item text-center">
                <h4 class="fa fa-list-alt" aria-hidden="true"></h4>
                <br/>Recibidos
            </a>
        </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-7 col-xs-6 bhoechie-tab">
        <!-- Buscador-->
        <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fa fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar pedidos por cliente">
                </div>
                <div class="col-auto">
                    <button class="btn btn-lg btn-success" type="submit">Filtrar</button>
                </div>
            </div>
        <!-- Router -->
        <div class="bhoechie-tab-content active">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
