<br>
    <div class="card border-info shadow">
        <div class="card-body row">
            <div class="form-inline col-md-6">
                <h6 class="text-muted card-subtitle mb-2 mr-sm-2">Última modificación:</h6>
                <h6 class="text-muted card-subtitle mb-2 mr-sm-2">{{lista.fechaDesde}}</h6>
            </div>
            <div class="form-inline col-md-6">
                <label for="{{lista.numeroLista}}" class="form-label mb-2 mr-sm-2">Modificar precios lista: %</label>
                <input class="form-control mb-2 mr-sm-2" type="number" value="0" step="0.01" id="{{lista.numeroLista}}" #modificador_lista>
                <button class="btn btn-primary mb-2 mr-sm-2" id="recalcular_{{lista.numeroLista}}"(click)="modificarPorcentageLista(modificador_lista.value)">Calcular</button>
            </div>
            <br>
        </div>
    </div>
<br>
<div class="row">
    <div *ngFor="let grupo of listaGroup" class="col-md-3">
        <div class="card shadow">
            <div class="card-header card-header text-white bg-info">
                <label><b>{{grupo[0].tipoParteMotor.nombreTipoParteMotor}}</b></label>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{grupo[0].cilindrada.cantidadDeCilindros}} Cilindros</h5>
                <div *ngFor="let costoOperacion of grupo">
                    <jhi-operacion-lista-precio [costoOperacion]="costoOperacion" #costosOperaciones>
                    </jhi-operacion-lista-precio>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<button class="btn btn-primary" id="guardar_lista_{{lista.numeroLista}}"(click)="guardarLista()">Guardar</button>
