<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleado-heading" data-cy="EmpleadoCreateUpdateHeading">Create or edit a Empleado</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_persona">Persona</label>
          <select class="form-control" id="field_persona" data-cy="persona" name="persona" formControlName="persona">
            <option *ngIf="editForm.get(['persona'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="personaOption.id === editForm.get('persona')!.value?.id ? editForm.get('persona')!.value : personaOption"
              *ngFor="let personaOption of personasCollection; trackBy: trackPersonaById"
            >
              {{ personaOption.nombre }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['persona'])!.invalid && (editForm.get(['persona'])!.dirty || editForm.get(['persona'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['persona'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sucursal">Sucursal</label>
          <select class="form-control" id="field_sucursal" data-cy="sucursal" name="sucursal" formControlName="sucursal">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="sucursalOption.id === editForm.get('sucursal')!.value?.id ? editForm.get('sucursal')!.value : sucursalOption"
              *ngFor="let sucursalOption of sucursalsSharedCollection; trackBy: trackSucursalById"
            >
              {{ sucursalOption.nombreSucursal }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
