<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPagoEfectivoLabel">Create or edit a Pago Efectivo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pagoEfectivo.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pagoEfectivo.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_formaDePago">Forma De Pago</label>
            <select class="form-control" id="field_formaDePago" name="formaDePago" [(ngModel)]="pagoEfectivo.formaDePago" required>
                <option *ngIf="!editForm.value.formaDePago" [ngValue]="null" selected></option>
                <option [ngValue]="formaDePagoOption.id === pagoEfectivo.formaDePago?.id ? pagoEfectivo.formaDePago : formaDePagoOption" *ngFor="let formaDePagoOption of formadepagos; trackBy: trackFormaDePagoById">{{formaDePagoOption.nombreFormaDePago}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.formaDePago?.dirty && editForm.controls.formaDePago?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.formaDePago?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
