<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="estadoArticulo">
      <h2 data-cy="estadoArticuloDetailsHeading"><span>Estado Articulo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ estadoArticulo.id }}</span>
        </dd>
        <dt><span>Nombre Estado</span></dt>
        <dd>
          <span>{{ estadoArticulo.nombreEstado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/estado-articulo', estadoArticulo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
