<div>
    <h2 id="page-heading">
        <span>Articulos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-articulo" [routerLink]="['/articulo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Articulo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="articulos?.length === 0">
        <span>No articulos found</span>
    </div>
    <div class="table-responsive" *ngIf="articulos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codigoArticuloProveedor"><span>Codigo Articulo Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valor"><span>Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCosto"><span>Fecha Costo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="costoProveedor"><span>Costo Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCostoProveedor"><span>Fecha Costo Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado.nombreEstado"><span>Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marca.nombreMarca"><span>Marca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoRepuesto.nombreTipoRepuesto"><span>Tipo Repuesto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let articulo of articulos ;trackBy: trackId">
                <td><a [routerLink]="['/articulo', articulo.id, 'view' ]">{{articulo.id}}</a></td>
                <td>{{articulo.codigoArticuloProveedor}}</td>
                <td>{{articulo.valor}}</td>
                <td>{{articulo.fechaCosto | date:'mediumDate'}}</td>
                <td>{{articulo.costoProveedor}}</td>
                <td>{{articulo.fechaCostoProveedor | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="articulo.estado">
                        <a [routerLink]="['/estado-articulo', articulo.estado?.id, 'view' ]" >{{articulo.estado?.nombreEstado}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="articulo.marca">
                        <a [routerLink]="['/marca', articulo.marca?.id, 'view' ]" >{{articulo.marca?.nombreMarca}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="articulo.tipoRepuesto">
                        <a [routerLink]="['/tipo-repuesto', articulo.tipoRepuesto?.id, 'view' ]" >{{articulo.tipoRepuesto?.nombreTipoRepuesto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/articulo', articulo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/articulo', articulo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/articulo', { outlets: { popup: articulo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="articulos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
