<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-articulo-heading">Create or edit a Articulo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!articulo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="articulo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="articulo.descripcion" required/>
                    <div [hidden]="!(editForm.controls.descripcion?.dirty && editForm.controls.descripcion?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descripcion?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codigoArticuloProveedor">Codigo Articulo Proveedor</label>
                    <input type="text" class="form-control" name="codigoArticuloProveedor" id="field_codigoArticuloProveedor"
                        [(ngModel)]="articulo.codigoArticuloProveedor" minlength="2" maxlength="20"/>
                    <div [hidden]="!(editForm.controls.codigoArticuloProveedor?.dirty && editForm.controls.codigoArticuloProveedor?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigoArticuloProveedor?.errors?.minlength">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codigoArticuloProveedor?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" [(ngModel)]="articulo.estado"  required>
                        <option *ngIf="!editForm.value.estado" [ngValue]="null" selected></option>
                        <option [ngValue]="estadoArticuloOption.id === articulo.estado?.id ? articulo.estado : estadoArticuloOption" *ngFor="let estadoArticuloOption of estadoarticulos; trackBy: trackEstadoArticuloById">{{estadoArticuloOption.nombreEstado}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.estado?.dirty && editForm.controls.estado?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.estado?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marca">Marca</label>
                    <select class="form-control" id="field_marca" name="marca" [(ngModel)]="articulo.marca"  required>
                        <option *ngIf="!editForm.value.marca" [ngValue]="null" selected></option>
                        <option [ngValue]="marcaOption.id === articulo.marca?.id ? articulo.marca : marcaOption" *ngFor="let marcaOption of marcas; trackBy: trackMarcaById">{{marcaOption.nombreMarca}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.marca?.dirty && editForm.controls.marca?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marca?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoRepuesto">Tipo Repuesto</label>
                    <select class="form-control" id="field_tipoRepuesto" name="tipoRepuesto" [(ngModel)]="articulo.tipoRepuesto"  required>
                        <option *ngIf="!editForm.value.tipoRepuesto" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoRepuestoOption.id === articulo.tipoRepuesto?.id ? articulo.tipoRepuesto : tipoRepuestoOption" *ngFor="let tipoRepuestoOption of tiporepuestos; trackBy: trackTipoRepuestoById">{{tipoRepuestoOption.nombreTipoRepuesto}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.tipoRepuesto?.dirty && editForm.controls.tipoRepuesto?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipoRepuesto?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
