<form name="deleteForm" (ngSubmit)="confirmDelete(movimiento?.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar operación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body text-center">
        <jhi-alert-error></jhi-alert-error>
        <p>Seguro que desea eliminar este movimiento?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>NO!</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;
            <span>Eliminar</span>
        </button>
    </div>
</form>
