<div class="jh-card">
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" #search (keydown.enter)="onSearch(search.value)"  placeholder="Buscar presupuesto..." >
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                 </button>
                 </span>
                 </div><!-- /input-group -->
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary float-right" has-any-authority="['ROLE_USER']" [routerLink]="['nuevo']">
                    <span>
                        Nuevo Presupuesto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Motor</th>
                        <th scope="col">cliente</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="presupuestos">
                    <tr *ngFor="let presupuesto of presupuestos">
                        <th>{{presupuesto.codigo}}</th>
                        <td>{{presupuesto.motor}}</td>
                        <td>{{presupuesto.cliente}} </td>
                        <td>${{presupuesto.importe}}</td>
                        <td>{{presupuesto.fecha}}</td>
                        <td>
                            <div *ngIf="presupuesto.estado== 'Creado'" class="text-center">
                                <div class="alert alert-primary" style="padding: 0px;" role="alert">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Terminado'" class="text-center">
                                <div class="alert alert-info" role="alert" style="padding: 0px;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Aceptado'" class="text-center">
                                <div class="alert alert-warning" role="alert" style="padding: 0px;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Entregado'" class="text-center">
                                <div class="alert alert-success" role="alert" style="padding: 0px;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Cancelado'" class="text-center">
                                <div class="alert alert-danger" role="alert" style="padding: 0px;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                        </td>
                        <td>{{presupuesto.sucursal}}</td>
                        <td>

                            <button class="btn btn-success" *ngIf="presupuesto.estado == 'Creado'" (click)="aceptarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Aceptar presupuesto">
                                <i class="fa fa-check-square"></i>
                            </button>
                            <button class="btn btn-info" *ngIf="presupuesto.estado == 'Aceptado'" (click)="terminarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Terminar trabajo">
                                <i class="fa fa-check-square"></i>
                            </button>
                            <button class="btn btn-primary" *ngIf="presupuesto.estado == 'Terminado'" (click)="entregarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Entregar trabajo">
                                <i class="fa fa-check-square"></i>
                            </button>
                            <button class="btn btn-danger" *ngIf="presupuesto.estado == 'Aceptado' || presupuesto.estado == 'Creado'" (click)="cancelarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Eliminar">
                                <i class="fa fa-close"></i>
                            </button>
                            <p *ngIf="presupuesto.estado == 'Cancelado'">No hay operaciones</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
