<div class="jh-card">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" #searchBar (keydown.enter)="search(searchBar.value)"  placeholder="Buscar presupuesto...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (onClick)="search(searchBar.value)">
                            <span an class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary float-right" has-any-authority="['ROLE_USER']" [routerLink]="['nuevo']">
                    <span>
                        Nuevo Presupuesto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <feature-toggle-provider [features]="featureToggleData">
    <div class="container-fluid card">
        <div class="">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Motor</th>
                        <th scope="col">cliente</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody *ngIf="presupuestos">
                    <tr *ngFor="let presupuesto of presupuestos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
                    >
                        <th>{{presupuesto.codigo}}</th>
                        <td>{{presupuesto.motor}}</td>
                        <td>{{presupuesto.cliente}} </td>
                        <td>${{presupuesto.importe | number:'1.2-2'}}</td>
                        <td>{{presupuesto.fecha}}</td>
                        <td>
                            <div *ngIf="presupuesto.estado== 'Creado'" class="text-center">
                                <div class="alert-primary" role="alert" style="border-radius: .25rem;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Terminado'" class="text-center">
                                <div class="alert-info" role="alert" style="border-radius: .25rem;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Aceptado'" class="text-center">
                                <div class="alert-warning" role="alert" style="border-radius: .25rem;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Entregado'" class="text-center">
                                <div class="alert-success" role="alert" style="border-radius: .25rem;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                            <div *ngIf="presupuesto.estado== 'Cancelado'" class="text-center">
                                <div class="alert-danger" role="alert" style="border-radius: .25rem;">
                                    {{presupuesto.estado}}
                                </div>
                            </div>
                        </td>
                        <td>{{presupuesto.sucursal}}</td>
                        <td>
                            <button class="btn btn-outline-secondary" placement="top" [routerLink]="['/presupuestos', presupuesto.codigo, 'ver' ]" ngbTooltip="Ver">
                                <fa-icon icon="eye"></fa-icon>
                            </button>
                            <button *featureToggle="'enableImprimir'" class="btn btn-outline-dark" (click)="imprimir(presupuesto)" placement="top" [disabled]="imprimiendo"
                                ngbTooltip="Imprimir">
                                <fa-icon icon="print"></fa-icon>
                            </button>
                            <button class="btn btn-outline-success" *ngIf="presupuesto.estado == 'Creado'" (click)="aceptarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Aceptar presupuesto">
                                <fa-icon icon="check"></fa-icon>
                            </button>
                            <button class="btn btn-outline-info" *ngIf="presupuesto.estado == 'Aceptado'" (click)="terminarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Terminar trabajo">
                                <fa-icon icon="check-double"></fa-icon>
                            </button>
                            <button class="btn btn-outline-primary" *ngIf="presupuesto.estado == 'Terminado'" (click)="entregarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Entregar trabajo">
                                <fa-icon icon="check-square"></fa-icon>
                            </button>
                            <button class="btn btn-outline-danger" *ngIf="presupuesto.estado == 'Aceptado' || presupuesto.estado == 'Creado'" (click)="cancelarPresupuesto(presupuesto)" placement="top"
                                ngbTooltip="Eliminar">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                            <!-- <p *ngIf="presupuesto.estado == 'Cancelado'">No hay operaciones</p> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination
                class="d-flex justify-content-center"
                [collectionSize]="presupuestos.length"
                #numPages
                [pageSize]="pageSize"
                [(page)]="page"
                >
            </ngb-pagination>
        </div>
    </div>
    </feature-toggle-provider>
</div>
