<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stockArticulo">
            <h2><span>Stock Articulo</span> {{stockArticulo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cantidad</span></dt>
                <dd>
                    <span>{{stockArticulo.cantidad}}</span>
                </dd>
                <dt><span>Medida</span></dt>
                <dd>
                    <div *ngIf="stockArticulo.medida">
                        <a [routerLink]="['/medida-articulo', stockArticulo.medida?.id, 'view']">{{stockArticulo.medida?.medida}}</a>
                    </div>
                </dd>
                <dt><span>Articulo</span></dt>
                <dd>
                    <div *ngIf="stockArticulo.articulo">
                        <a [routerLink]="['/articulo', stockArticulo.articulo?.id, 'view']">{{stockArticulo.articulo?.codigoArticuloProveedor}}</a>
                    </div>
                </dd>
                <dt><span>Sucursal</span></dt>
                <dd>
                    <div *ngIf="stockArticulo.sucursal">
                        <a [routerLink]="['/sucursal', stockArticulo.sucursal?.id, 'view']">{{stockArticulo.sucursal?.nombreSucursal}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-articulo', stockArticulo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
