<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-operacion-heading" data-cy="OperacionCreateUpdateHeading">Create or edit a Operacion</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nombreOperacion">Nombre Operacion</label>
          <input
            type="text"
            class="form-control"
            name="nombreOperacion"
            id="field_nombreOperacion"
            data-cy="nombreOperacion"
            formControlName="nombreOperacion"
          />
          <div
            *ngIf="
              editForm.get('nombreOperacion')!.invalid &&
              (editForm.get('nombreOperacion')!.dirty || editForm.get('nombreOperacion')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('nombreOperacion')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tipoParteMotor">Tipo Parte Motor</label>
          <select
            class="form-control"
            id="field_tipoParteMotor"
            data-cy="tipoParteMotor"
            name="tipoParteMotor"
            formControlName="tipoParteMotor"
          >
            <option *ngIf="!editForm.get('tipoParteMotor')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                tipoParteMotorOption.id === editForm.get('tipoParteMotor')!.value?.id
                  ? editForm.get('tipoParteMotor')!.value
                  : tipoParteMotorOption
              "
              *ngFor="let tipoParteMotorOption of tipoParteMotorsSharedCollection; trackBy: trackTipoParteMotorById"
            >
              {{ tipoParteMotorOption.nombreTipoParteMotor }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['tipoParteMotor'])!.invalid &&
            (editForm.get(['tipoParteMotor'])!.dirty || editForm.get(['tipoParteMotor'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['tipoParteMotor'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_estadoOperacion">Estado Operacion</label>
          <select
            class="form-control"
            id="field_estadoOperacion"
            data-cy="estadoOperacion"
            name="estadoOperacion"
            formControlName="estadoOperacion"
          >
            <option *ngIf="!editForm.get('estadoOperacion')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                estadoOperacionOption.id === editForm.get('estadoOperacion')!.value?.id
                  ? editForm.get('estadoOperacion')!.value
                  : estadoOperacionOption
              "
              *ngFor="let estadoOperacionOption of estadoOperacionsSharedCollection; trackBy: trackEstadoOperacionById"
            >
              {{ estadoOperacionOption.nombreEstado }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['estadoOperacion'])!.invalid &&
            (editForm.get(['estadoOperacion'])!.dirty || editForm.get(['estadoOperacion'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['estadoOperacion'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
