<div>
    <h2 id="page-heading">
        <span>Movimientos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-movimiento" [routerLink]="['/movimiento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Movimiento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="movimientos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span>Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="importe"><span>Importe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descuento"><span>Descuento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="observaciones"><span>Observaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado.nombreEstado"><span>Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoMovimiento.nombreTipoMovimiento"><span>Tipo Movimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empleado.usuario"><span>Empleado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="caja.id"><span>Caja</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subCategoria.nombreSubCategoria"><span>Sub Categoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="medioDePago.id"><span>Medio De Pago</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimiento of movimientos ;trackBy: trackId">
                <td><a [routerLink]="['/movimiento', movimiento.id, 'view' ]">{{movimiento.id}}</a></td>
                <td>{{movimiento.fecha | date:'mediumDate'}}</td>
                <td>{{movimiento.importe}}</td>
                <td>{{movimiento.descuento}}</td>
                <td>{{movimiento.observaciones}}</td>
                <td>
                    <div *ngIf="movimiento.estado">
                        <a [routerLink]="['../estado-movimiento', movimiento.estado?.id, 'view' ]" >{{movimiento.estado?.nombreEstado}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimiento.tipoMovimiento">
                        <a [routerLink]="['../tipo-movimiento', movimiento.tipoMovimiento?.id, 'view' ]" >{{movimiento.tipoMovimiento?.nombreTipoMovimiento}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimiento.empleado">
                        <a [routerLink]="['../empleado', movimiento.empleado?.id, 'view' ]" >{{movimiento.empleado?.usuario}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimiento.caja">
                        <a [routerLink]="['../caja', movimiento.caja?.id, 'view' ]" >{{movimiento.caja?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimiento.subCategoria">
                        <a [routerLink]="['../sub-categoria', movimiento.subCategoria?.id, 'view' ]" >{{movimiento.subCategoria?.nombreSubCategoria}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movimiento.medioDePago">
                        <a [routerLink]="['../medio-de-pago', movimiento.medioDePago?.id, 'view' ]" >{{movimiento.medioDePago?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/movimiento', movimiento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/movimiento', movimiento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movimiento/'+ movimiento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="movimientos && movimientos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
