
<div *ngIf="movimiento">
    <h2><span>Movimiento</span> {{movimiento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{movimiento.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Hora</span></dt>
        <dd>
            <span>{{movimiento.hora | date:'medium'}}</span>
        </dd>
        <dt><span>Importe</span></dt>
        <dd>
            <span>{{movimiento.importe}}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
            <div *ngIf="movimiento.estado">
                <a [routerLink]="['/estado-movimiento', movimiento.estado?.id]">{{movimiento.estado?.nombreEstado}}</a>
            </div>
        </dd>
        <dt><span>Forma De Pago</span></dt>
        <dd>
            <div *ngIf="movimiento.formaDePago">
                <a [routerLink]="['/forma-de-pago', movimiento.formaDePago?.id]">{{movimiento.formaDePago?.nombreFormaDePago}}</a>
            </div>
        </dd>
        <dt><span>Tipo Movimiento</span></dt>
        <dd>
            <div *ngIf="movimiento.tipoMovimiento">
                <a [routerLink]="['/tipo-movimiento', movimiento.tipoMovimiento?.id]">{{movimiento.tipoMovimiento?.nombreTipoMovimiento}}</a>
            </div>
        </dd>
        <dt><span>Empleado</span></dt>
        <dd>
            <div *ngIf="movimiento.empleado">
                <a [routerLink]="['/empleado', movimiento.empleado?.id]">{{movimiento.empleado?.usuario}}</a>
            </div>
        </dd>
        <dt><span>Persona</span></dt>
        <dd>
            <div *ngIf="movimiento.persona">
                <a [routerLink]="['/persona', movimiento.persona?.id]">{{movimiento.persona?.nombre}}</a>
            </div>
        </dd>
        <dt><span>Sub Categoria</span></dt>
        <dd>
            <div *ngIf="movimiento.subCategoria">
                <a [routerLink]="['/sub-categoria', movimiento.subCategoria?.id]">{{movimiento.subCategoria?.nombreSubCategoria}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'movimiento/'+ movimiento.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
