<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movimiento">
            <h2><span>Movimiento</span> {{movimiento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{movimiento.fecha}}</span>
                </dd>
                <dt><span>Hora</span></dt>
                <dd>
                    <span>{{movimiento.hora}}</span>
                </dd>
                <dt><span>Importe</span></dt>
                <dd>
                    <span>{{movimiento.importe}}</span>
                </dd>
                <dt><span>Descuento</span></dt>
                <dd>
                    <span>{{movimiento.descuento}}</span>
                </dd>
                <dt><span>Observaciones</span></dt>
                <dd>
                    <span>{{movimiento.observaciones}}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <div *ngIf="movimiento.estado">
                        <a [routerLink]="['/estado-movimiento', movimiento.estado?.id, 'view']">{{movimiento.estado?.nombreEstado}}</a>
                    </div>
                </dd>
                <dt><span>Forma De Pago</span></dt>
                <dd>
                    <div *ngIf="movimiento.formaDePago">
                        <a [routerLink]="['/forma-de-pago', movimiento.formaDePago?.id, 'view']">{{movimiento.formaDePago?.nombreFormaDePago}}</a>
                    </div>
                </dd>
                <dt><span>Tipo Movimiento</span></dt>
                <dd>
                    <div *ngIf="movimiento.tipoMovimiento">
                        <a [routerLink]="['/tipo-movimiento', movimiento.tipoMovimiento?.id, 'view']">{{movimiento.tipoMovimiento?.nombreTipoMovimiento}}</a>
                    </div>
                </dd>
                <dt><span>Empleado</span></dt>
                <dd>
                    <div *ngIf="movimiento.empleado">
                        <a [routerLink]="['/empleado', movimiento.empleado?.id, 'view']">{{movimiento.empleado?.usuario}}</a>
                    </div>
                </dd>
                <dt><span>Persona</span></dt>
                <dd>
                    <div *ngIf="movimiento.persona">
                        <a [routerLink]="['/persona', movimiento.persona?.id, 'view']">{{movimiento.persona?.nombre}}</a>
                    </div>
                </dd>
                <dt><span>Sub Categoria</span></dt>
                <dd>
                    <div *ngIf="movimiento.subCategoria">
                        <a [routerLink]="['/sub-categoria', movimiento.subCategoria?.id, 'view']">{{movimiento.subCategoria?.nombreSubCategoria}}</a>
                    </div>
                </dd>
                <dt><span>Caja</span></dt>
                <dd>
                    <div *ngIf="movimiento.caja">
                        <a [routerLink]="['/caja', movimiento.caja?.id, 'view']">{{movimiento.caja?.id}}</a>
                    </div>
                </dd>
                <dt><span>Detalle Movimiento</span></dt>
                <dd>
                    <div *ngIf="movimiento.detalleMovimiento">
                        <a [routerLink]="['/detalle-movimiento', movimiento.detalleMovimiento?.id, 'view']">{{movimiento.detalleMovimiento?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/movimiento', movimiento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
