<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movimiento-heading">Create or edit a Movimiento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fecha">Fecha</label>
                    <div class="input-group">
                        <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker  #fechaDp="ngbDatepicker" formControlName="fecha"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fecha').invalid && (editForm.get('fecha').dirty || editForm.get('fecha').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_importe">Importe</label>
                    <input type="number" class="form-control" name="importe" id="field_importe"
                           formControlName="importe"/>
                    <div *ngIf="editForm.get('importe').invalid && (editForm.get('importe').dirty || editForm.get('importe').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('importe').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('importe').errors.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('importe')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descuento">Descuento</label>
                    <input type="number" class="form-control" name="descuento" id="field_descuento"
                           formControlName="descuento"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                           formControlName="observaciones"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estado">
                        <option *ngIf="!editForm.get('estado').value" [ngValue]="null" selected></option>
                        <option [ngValue]="estadoMovimientoOption.id === editForm.get('estado').value?.id ? editForm.get('estado').value : estadoMovimientoOption" *ngFor="let estadoMovimientoOption of estadomovimientos; trackBy: trackEstadoMovimientoById">{{estadoMovimientoOption.nombreEstado}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('estado').invalid && (editForm.get('estado').dirty || editForm.get('estado').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('estado').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipoMovimiento">Tipo Movimiento</label>
                    <select class="form-control" id="field_tipoMovimiento" name="tipoMovimiento" formControlName="tipoMovimiento">
                        <option *ngIf="!editForm.get('tipoMovimiento').value" [ngValue]="null" selected></option>
                        <option [ngValue]="tipoMovimientoOption.id === editForm.get('tipoMovimiento').value?.id ? editForm.get('tipoMovimiento').value : tipoMovimientoOption" *ngFor="let tipoMovimientoOption of tipomovimientos; trackBy: trackTipoMovimientoById">{{tipoMovimientoOption.nombreTipoMovimiento}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('tipoMovimiento').invalid && (editForm.get('tipoMovimiento').dirty || editForm.get('tipoMovimiento').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('tipoMovimiento').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_empleado">Empleado</label>
                    <select class="form-control" id="field_empleado" name="empleado" formControlName="empleado">
                        <option *ngIf="!editForm.get('empleado').value" [ngValue]="null" selected></option>
                        <option [ngValue]="empleadoOption.id === editForm.get('empleado').value?.id ? editForm.get('empleado').value : empleadoOption" *ngFor="let empleadoOption of empleados; trackBy: trackEmpleadoById">{{empleadoOption.usuario}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('empleado').invalid && (editForm.get('empleado').dirty || editForm.get('empleado').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('empleado').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_caja">Caja</label>
                    <select class="form-control" id="field_caja" name="caja" formControlName="caja">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cajaOption.id === editForm.get('caja').value?.id ? editForm.get('caja').value : cajaOption" *ngFor="let cajaOption of cajas; trackBy: trackCajaById">{{cajaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subCategoria">Sub Categoria</label>
                    <select class="form-control" id="field_subCategoria" name="subCategoria" formControlName="subCategoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subCategoriaOption.id === editForm.get('subCategoria').value?.id ? editForm.get('subCategoria').value : subCategoriaOption" *ngFor="let subCategoriaOption of subcategorias; trackBy: trackSubCategoriaById">{{subCategoriaOption.nombreSubCategoria}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_medioDePago">Medio De Pago</label>
                    <select class="form-control" id="field_medioDePago" name="medioDePago" formControlName="medioDePago">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medioDePagoOption.id === editForm.get('medioDePago').value?.id ? editForm.get('medioDePago').value : medioDePagoOption" *ngFor="let medioDePagoOption of mediodepagos; trackBy: trackMedioDePagoById">{{medioDePagoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
