
<div *ngIf="precioRepuesto">
    <h2><span>Precio Repuesto</span> {{precioRepuesto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Fecha</span></dt>
        <dd>
            <span>{{precioRepuesto.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Precio Privado</span></dt>
        <dd>
            <span>{{precioRepuesto.precioPrivado}}</span>
        </dd>
        <dt><span>Precio Publico</span></dt>
        <dd>
            <span>{{precioRepuesto.precioPublico}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'precio-repuesto/'+ precioRepuesto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
