<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Reinicia tu contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Este email no esta registrado!</strong> Intenta de nuevo con otro email.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingresa el email que usaste para registrarte.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revisa tu casilla de correo por favor, te envíamos instrucciones para que reinicies tu contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.required">
                            Tu email es requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.email">
                            El formato de tu email es inválido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.minlength">
                            Tu email no puede tener menos de 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Tu email no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Reiniciar</button>
            </form>
        </div>
    </div>
</div>
